:root {
/*  --cinediaYellow: #19D2A2;
  --cinediaYellowLight: #85E9CF;
  --cinediaYellowDark: #2F997D;*/

  --cinediaYellow: #F5BD00;
  --cinediaYellowLight: #D2AD77;
  --cinediaYellowDark: #9C7800;
  
  --darkGreyMain: #434143;
  --mediumGreyMain: #8B8D8F;
  --lightGreyMain: #CBCECE;

  --almostBlack: #100F10;

  --background: #ECECEC;

  --textDark: #0F1010;
  --textLight: #6C6D70;

  --uiWhite: #FAFBFF;
  --uiLight: #F7F7F7;
  --uiDark: #959595;

  --alertRed: #F56134;
  --readyGreen: #55D72B;
  --infoOrange: #F59300;
  --infoYellow: #F5BD00;

  --bookable: rgba(0, 250, 0, 0.08);
  --notBookable: rgba(250, 0, 0, 0.08);
}
