@import './measurements.css';

button, input[type=submit], input[type=button] {
  color: var(--textDark);
  text-align: center;
  padding: 0.4em 1em;
  border: 1px solid var(--uiDark);
  border-radius: 2px;
  background-color: var(--uiLight);
  outline-color: var(--cinediaYellow);
}
button:hover, input[type=submit]:hover, input[type=button]:hover {
  background-color: color(var(--uiLight) lightness(+10%));
  color: color(var(--textDark) lightness(+10%));
}
button:focus, input[type=submit]:focus, input[type=button]:focus {
  outline: solid var(--cinediaYellow);
}
button:active, input[type=submit]:active, input[type=button]:active {
  background-color: color(var(--uiLight) lightness(-10%));
  color: color(var(--textDark) lightness(-10%));
}
button:disabled, input[type=submit]:disabled, input[type=button]:disabled {
  background-color: color(var(--uiLight) lightness(-20%));
  color: color(var(--textDark) lightness(-20%));
}
button:hover:disabled, input[type=submit]:hover:disabled, input[type=button]:hover:disabled {
  background-color: color(var(--uiLight) lightness(-20%));
  color: color(var(--textDark) lightness(-20%));
}

label {
  padding-left: 0.5em;
}

.alertButton {
  background-color: var(--alertRed);
}
.alertButton:hover {
  background-color: var(--alertRed);
}
.alertButton:active {
  background-color: color(var(--alertRed) lightness(-10%));
}

input[type=radio] {
  position: relative;
  top: 0em;
}

input[type=checkbox] {
  position: relative;
  top: -0.1em;
}

input[type=text],
input[type=email],
input[type=password],
input[type=search] {
  box-sizing: border-box;
  background-color: var(--uiWhite);
  color: var(--textDark);
  padding: 0.4em 1em;
  border: 1px solid var(--uiDark);
  border-radius: 2px;
  outline-color: var(--cinediaYellow);
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=search]:focus {
  outline: 3px solid var(--cinediaYellow);;
}
input[type=text]:disabled,
input[type=email]:disabled,
input[type=password]:disabled
input[type=search]:disabled {
  background-color: color(var(--uiLight) lightness(-20%));
  color: var(--textLight);
  border: 1px solid var(--uiDark);
}

a {
  color: var(--cinediaYellowDark);
}
a:visited {
  color: color(var(--cinediaYellowDark) lightness(-15%));
}
a:hover {
  color: color(var(--cinediaYellowDark) lightness(+15%));
}

nav {
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  background-color: var(--darkGreyMain);
}

nav a {
  color: var(--cinediaYellow);
}

nav a:visited {
  color: var(--cinediaYellow);
}

nav .router-link-active:visited {
  background-color: var(--cinediaYellow);
  color: var(--darkGreyMain);
}

nav .router-link-active {
  background-color: var(--cinediaYellow);
  color: var(--darkGreyMain);
}
nav a:hover {
  background-color: var(--cinediaYellow);
  color: var(--darkGreyMain);
}

/*background*/
progress {
  background: transparent;
}
progress[value] {
  display: block;
  box-sizing: border-box;
  appearance: none;
  border: none;
  width: 100%;
  height: 100%;
}
progress::-webkit-progress-bar {
  background: transparent;
}
/*bar*/
progress::-moz-progress-bar { 
    background: color(var(--cinediaYellow) alpha(-50%));  
}
progress::-webkit-progress-value {
    background: color(var(--cinediaYellow) alpha(-50%));
}

.dropShadowDownBold {
  box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.5);
}

.dropShadowDownLight {
  box-shadow: 0px 6px 18px 0px rgba(50, 50, 50, 0.3)
}