<template>
  <div>
    <header>
      <Error/>
    </header>
    <router-link :to="{name: 'Home'}"><h1>Home</h1></router-link>
    <router-link :to="{name: 'Admin'}"><h1>Admin Page Home</h1></router-link>
    <main>
      <slot>
        main content
      </slot>
    </main>
  </div>
</template>

<script>
import Error from '@/components/Error';

export default {
  name: 'layoutadmin',
  components: {
    Error
  }
};
</script>

<style>
  @import '../../assets/css/main.css';
</style>