<template>
  <div class="appMainContainer">
    <header>
      <Navigation/>
      <Error :top="true"/>
    </header>
      
    <main :class="['appMainContent', {adminRed: userIsAdmin}]">
      <span class="adminIsAssignedToUserNotice" v-if="userIsAdmin && userIsAssignedToCustomer">{{getUser.customer.name}}</span>
      <slot>
        main content
      </slot>
    </main>

    <footer></footer>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Navigation from '@/components/Navigation';
import Error from '@/components/Error';

export default {
  name: 'layoutapp',
  components: {
    Navigation,
    Error
  },
  computed: {
    ...mapGetters([
      'getUser',
      'userIsAdmin',
      'userIsAssignedToCustomer'
    ])
  }
};
</script>

<style>
  @import '../../assets/css/main.css';

  .appMainContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: var(--headerHeigth) 1fr;
    grid-template-areas:
      "header"
      "main";
    height: 100vh;
    min-height: 0;
    min-width: 0;
  }

  header {
    grid-area: header;
    background-color: var(--darkGreyMain);
    min-width: 0;
  }

  .appMainContent {
    grid-area: main;
    margin: 2em;
    min-width: 0;
    padding-bottom: 2em;
  }
  @media only screen and (max-width: 768px) {
    .appMainContent {
      margin: 0.5em;
    }
  }

  .adminRed {
    outline: 1em solid red;
    padding: 0.5em;
  }
  .adminIsAssignedToUserNotice {
    color: red;
    font-weight: bold;
    font-size: 2.5em;
  }
</style>
