<template>
  <div>
    <Error/>
    <slot>
      main content
    </slot>
  </div>
</template>

<script>
import Error from '@/components/Error';

export default {
  name: 'layoutplain',
  components: {
    Error
  }
};
</script>

<style>
  @import '../../assets/css/main.css';
</style>