<template>
  <AdminMain>
    <ul>
      <li>
        <router-link  :to="{name: 'Customers'}">Customers</router-link>
      </li>
      <li>
        <router-link  :to="{name: 'Users'}">Users</router-link>
      </li>
      <li>
        <router-link  :to="{name: 'Stages'}">Stages</router-link>
      </li>
      <li>
        <router-link :to="dcpsLink">DCPs</router-link>
      </li>
      <li>
        <a  :href="adminQueueUrl" target="_blank">Queue Admin</a>
      </li>
    </ul>
  </AdminMain>
</template>

<script>
import AdminMain from '@/components/layout/AdminMain';
import {adminQueueUrl} from '@/assets/api';

export default {
  name: 'admin',
  props: ['query'],
  created () {

  },
  watch: {

  },
  methods: {

  },
  computed: {
    dcpsLink() {
      return this.$store.getters.currentDcpPageLink;
    },
    adminQueueUrl() {
      return adminQueueUrl;
    }
  },
  components: {
    AdminMain
  }
};
</script>

<style>
  @import '../assets/css/main.css';
</style>