<template>
  <AppMain>
    <BlockItem :block="block" :user="user" :duration="totalDuration"/>
    <ol :class="['segmentList']" v-if="userCanReadBlockSegments">
      <Reel
        v-for="reel in segments"
        :key="reel.customer.id + reel.audio"
        :reel="reel"
        :editable="userCanEditBlockSegments && (reel.customer.id === user.customer.id)"
        :block="block"
      />
    </ol>
  </AppMain>
</template>

<script>
import AppMain from '@/components/layout/AppMain';
import BlockItem from '@/components/BlockItem';
import Reel from '@/components/Reel';

export default {
  name: 'blockitem',
  props: ['blockid'],
  created () {
    this.loadBlockItem();
    this.loadBlockSegments();
  },
  methods: {
    loadBlockItem() {
      this.$store.dispatch('loadBlockItem', this.blockid);
    },
    loadBlockSegments() {
      this.$store.dispatch('loadSegmentCollection', this.blockid);
    }
  },
  computed: {
    block() {
      return this.$store.getters.getBlockById(this.blockid);
    },
    segments() {
      return this.$store.getters.getSegmentsByBlockId(this.blockid);
    },
    totalDuration() {
      return this.segments.reduce((totalDuration, curr) => {
        return totalDuration + curr.duration;
      }, 0)
    },
    user() {
      return this.$store.getters.getUser;
    },
    userCanReadBlockSegments() {
      return this.$store.getters.userHasActivity('blocks.segments.read');
    },
    userCanEditBlockSegments() {
      return this.$store.getters.userHasActivity('blocks.segments.order.update');
    }
  },
  components: {
    AppMain,
    BlockItem,
    Reel
  }
};
</script>

<style>
  @import '../assets/css/main.css';

  .segmentList {
    list-style: none;
    padding: 0;
  }
</style>
