<template>
  <AppMain>
    <h1>{{ $t('schedule:kw') }} {{returnKW}} {{ $t('schedule:kwYear', {date: returnStartDate}) }}</h1>
    <div class="subHeaderBlockCollection">
      <router-link class="blockListNavLink" @click.native="setSlideRigth" :to="prevBlockPageLink" exact>{{$t('prevWeek')}}</router-link>
      <div class="blockCollectionCalendar">
        <datepicker
          monday-first
          input-class="blockDateInput"
          :disabled-dates="datepickerConfig.disabled"
          :format="customFormatter"
          :value="formatQueryDate"
          @selected="changeDate"
        />
        <router-link class="blockListNavLink" @click.native="setSlideFade" :to="currentBlockPageLink" exact>{{$t('currWeek')}}</router-link>
      </div>
      <router-link class="blockListNavLink" @click.native="setSlideLeft" :to="nextBlockPageLink" exact>{{$t('nextWeek')}}</router-link>
    </div>
    <transition :name="transition" mode="out-in">
      <BlockList :key="'blocks.'+returnKW" :blocks="blocks" />
    </transition>
  </AppMain>
</template>

<script>
import AppMain from '@/components/layout/AppMain';
import BlockList from '@/components/BlockList';
import moment from 'moment';
import Datepicker from 'vuejs-datepicker';

export default {
  name: 'blockcollection',
  props: ['query'],
  i18nOptions: {
    namespaces: 'blocks'
  },
  mounted() {
    document
      .querySelectorAll(".vdp-datepicker input")
      .forEach(e => (e.readOnly = true));
  },
  data() {
    return {
      datepickerConfig: {
        disabled: {
          days: [0, 1, 2, 3, 5, 6]
        }
      },
      transition: 'fade'
    };
  },
  created () {
    this.updateQueryParams();
    this.loadBlockCollection();
  },
  watch: {
    query: function () {
      this.updateQueryParams();
      this.loadBlockCollection();
    }
  },
  methods: {
    setSlideRigth() {
      this.transition = 'slide-right';
    },
    setSlideLeft() {
      this.transition = 'slide-left';
    },
    setSlideFade() {
      this.transition = 'fade';
    },
    customFormatter(date) {
      return moment(date).format('dd D MMMM YYYY');
    },
    updateQueryParams () {
      this.$store.commit('setBlockQueryParams', this.query);
    },
    loadBlockCollection () {
      return this.$store.dispatch('loadBlockCollection', this.query)
        .catch(() => {
          this.$store.dispatch('showError', {
            title: 'blocklist eror',
            message: 'blocklist list fetch error'
          });
        });
    },
    changeDate(datePickerDate) {
      let date = moment(datePickerDate);

      if (date.isValid()) {
        this.transition = 'fade';
        this.$router.push(this.$store.getters.newDateLink(date.format('YYYYMMDD')));
      }
    },
  },
  computed: {
    blocks () {
      return this.$store.getters.listblocks;
    },
    currentBlockPageLink() {
      return this.$store.getters.currentBlockPageLink;
    },
    prevBlockPageLink() {
      return this.$store.getters.prevBlockPageLink;
    },
    nextBlockPageLink() {
      return this.$store.getters.nextBlockPageLink;
    },
    formatQueryDate(){
      return moment(this.query.date).toDate();
    },
    highlightedDates() {
      return {
        from: moment(this.query.date).toDate(),
        to: moment(this.query.date).add(1, 'week').toDate()
      };
    },
    returnKW() {
      if (this.blocks.length > 0){
        return this.blocks[0].dateslot.kw;
      } else {
        return '';
      }
    },
    returnStartDate() {
      if (this.blocks.length > 0){
        return this.blocks[0].dateslot.startdate;
      } else {
        return '';
      }
    }
  },
  components: {
    AppMain,
    BlockList,
    Datepicker
  }
};
</script>

<style>
  @import '../assets/css/main.css';

  .subHeaderBlockCollection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: -1px;
    border: 1px solid var(--darkGreyMain);
    padding: 0.5em 0.8em;
  }
  .blockCollectionCalendar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .blockDateInput {
    font-size: 1em;
    text-align: center;
    outline-color: none;
    width: 300px;
    border: 1px solid var(--almostBlack);
    padding: 0.3em 0.3em;
    margin-right: 1em;
    margin-bottom: 0.5em;
  }

  .blockListNavLink {
    margin-bottom: 0.5em;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity 0.4s;
  }
  .fade-enter, .fade-leave-active {
    opacity: 0
  }

  .slide-left-enter-active, .slide-left-leave-active,
  .slide-right-enter-active, .slide-right-leave-active {
    transition: all 0.3s cubic-bezier(.9,.11,.16,.9);
  }

  .slide-left-enter {
    opacity: 0;
    transform: translate(30px);  
  }
  .slide-left-leave-to {
    opacity: 0;
    transform: translate(-30px);
  }
  .slide-right-enter {
    opacity: 0;
    transform: translate(-30px);
  }
  .slide-right-leave-to {
    opacity: 0;
    transform: translate(30px);
  }
</style>
