<template>
  <AdminMain>
    <h1>Customers</h1>
    <Customers
      :customers="customers"
      :companies="companies"
      :selectedCustomer="selectedCustomer"
      :selectedCustomerAccessRead="selectedCustomerAccessRead"
      :selectCustomerCompanySegments="selectCustomerCompanySegments"
      :selectCustomerReadCompanies="selectCustomerReadCompanies"
      @selectCustomer="selectCustomer"
    />
  </AdminMain>
</template>

<script>
import AdminMain from '@/components/layout/AdminMain';
import Customers from '@/components/Customers';
import {
  mapGetters,
  mapActions
} from 'vuex';

export default {
  name: 'customers',
  data() {
    return {
      selectedCustomerId: '',
      selectedCustomerIdCustomerRead: '',
      selectedCustomerIdCompanySegments: '',
      selectedCustomerIdReadCompanies: ''
    };
  },
  created () {
    this.loadCustomers();
    this.loadCompanies();
  },
  methods: {
    ...mapActions({
      loadCustomers: 'customers/loadCollection',
      loadCompanies: 'companies/loadCollection'
    }),
    selectCustomer(customerId) {
      this.selectedCustomerId = customerId;
      this.$store.dispatch('customerReadAccess/load', customerId)
        .then(() => {
          this.selectedCustomerIdCustomerRead = customerId;
        });
      this.$store.dispatch('customerCompanySegment/load', customerId)
        .then(() => {
          this.selectedCustomerIdCompanySegments = customerId;
        });
      this.$store.dispatch('customerReadCompanies/load', customerId)
        .then(() => {
          this.selectedCustomerIdReadCompanies = customerId;
        });
    }
  },
  computed: {
    ...mapGetters({
      companies: 'companies/list',
      customers: 'customers/list'
    }),
    selectedCustomer() {
      return this.$store.getters['customers/getById'](this.selectedCustomerId);
    },
    selectedCustomerAccessRead() {
      return this.$store.getters['customerReadAccess/getByCustomerId'](this.selectedCustomerIdCustomerRead);
    },
    selectCustomerCompanySegments() {
      return this.$store.getters['customerCompanySegment/getByCustomerId'](this.selectedCustomerIdCompanySegments);
    },
    selectCustomerReadCompanies() {
      return this.$store.getters['customerReadCompanies/getByCustomerId'](this.selectedCustomerIdReadCompanies);
    }
  },
  components: {
    AdminMain,
    Customers
  }
};
</script>

<style>
  @import '../assets/css/main.css';
</style>