<template>
  <AdminMain>
    <h1>DCPs</h1>
    <datepicker
        monday-first
        input-class="SujetItemDateInput"
        :disabled-dates="datepickerConfig.disabled"
        :format="customFormatter"
        :value="formatQueryDate"
        @selected="changeDate"
      />
    <DcpList :dcps="dcps" />
  </AdminMain>
</template>

<script>
import AdminMain from '@/components/layout/AdminMain';
import DcpList from '@/components/DcpList';
import Datepicker from 'vuejs-datepicker';
import moment from 'moment';

export default {
  name: 'dcpcollection',
  props: ['query'],
  data() {
    return {
      datepickerConfig: {
        disabled: {
          days: [0, 1, 2, 3, 5, 6]
        }
      }
    };
  },
  created () {
    this.updateQueryParams();
    this.loadDcpCollection();
  },
  watch: {
    query: function () {
      this.updateQueryParams();
      this.loadDcpCollection();
    }
  },
  methods: {
    customFormatter(date) {
      return moment(date).format('dd D MMMM YYYY');
    },
    updateQueryParams () {
      this.$store.commit('setBlockQueryParams', this.query); 
    },
    loadDcpCollection () {
      return this.$store.dispatch('loadDcpCollection', this.query)
        .catch((error) => {
          this.$store.dispatch('showError', {
            title: 'dcplist eror',
            message: 'dcplist list fetch error'
          });
        });
    },
    changeDate(date) {
      let newStartdate = moment(date);

      if (newStartdate.isValid()) {
        this.$router.push(this.$store.getters.newDcpDateLink(newStartdate.format('YYYYMMDD')));
      }
    },
  },
  computed: {
    dcps () {
      return this.$store.getters.listdcps;
    },
    formatQueryDate(){
      return moment(this.query.date).toDate();
    }
  },
  components: {
    AdminMain,
    DcpList,
    Datepicker
  }
};
</script>

<style>
  @import '../assets/css/main.css';
</style>