<template>
  <AppMain>
    <section v-if="user && authUser">
      <h3>{{$t('user')}}:</h3>
      <p>{{user.firstname}} {{user.lastname}}</p>
      <p>{{user.email}}</p>
      <p>
        <EditableCheckbox id="emailUpdates" @save="save" path="/getNotifications" :item="user" name="notifications"/>
        <label for="emailUpdates">{{$t('emailNotificationsDcpReady')}}</label>
      </p>
      <h3>{{$t('customer')}}: {{$t(`type.${authUser.customer.type}`)}}</h3>
      <p>{{`${$t('shortName')}: ${authUser.customer.nameshort}, ${$t('name')}: ${authUser.customer.name}`}}</p>
      <button class="button" @click="logout">{{$t('logout')}}</button>
    </section>
    <section>
      <h3>{{$t('support')}}:</h3>
      <a :href="`mailto:support@omet.ch?subject=Support Anfrage ${authUser.customer.name}`">support@omet.ch</a>
    </section>
  </AppMain>
</template>

<script>
import AppMain from '@/components/layout/AppMain';
import EditableCheckbox from '@/components/EditableCheckbox';
import {
  mapGetters,
  mapActions
} from 'vuex';

export default {
  name: 'frontpage',
  i18nOptions: {
    namespaces: ['common', 'home']
  },
  components: {
    AppMain,
    EditableCheckbox
  },
  created() {
    return this.loadUser(this.authUser.id)
      .catch((error) => {
        this.$store.dispatch('showError', {
          title: this.$t('error.userItemload.title')
        });
      });
  },
  methods: {
    ...mapActions({
      loadUser: 'users/loadItem'
    }),
    save(event) {
      this.$store.dispatch('users/update', {
        id: this.authUser.id,
        path: event.path,
        value: event.value
      });
    },
    logout() {
      this.$store.dispatch('logout')
        .then(() => {
          window.location.href = 'https://omet.ch/';
        });
    }
  },
  computed: {
    user() {
      if (this.authUser) {
        return this.$store.getters['users/getById'](this.authUser.id);
      }
    },
    authUser() {
      return this.$store.getters.getUser;
    }
  }
};
</script>

<style>
  @import '../assets/css/main.css';
</style>