<template>
  <Plain>
    <main class="loginContainer">

      <h1 class="loginTitle">Login</h1>

      <nav class="loginNavigation">
        <router-link class="loginNavItem" :to="{view: 'Login', query: query, hash: 'password'}">
          {{$t('passwordAndEmail.title')}}
        </router-link>
        <router-link class="loginNavItem" :to="{view: 'Login', query: query, hash: 'passwordless'}">
            {{$t('passwordless.title')}}
        </router-link>
      </nav>

      <section class="loginSection" v-if="showPasswordLogin">
        <h2>{{$t('passwordAndEmail.title')}}</h2>
        <p class="sectionDescription">{{$t('passwordAndEmail.description')}}</p>
        <form class="loginForm" @submit.prevent="passwordLogin">
          <label class="textInputLabel" for="pwdLoginEmail">{{$t('email')}}</label>
          <input class="textInput" id="pwdLoginEmail" v-model="email" type="email" name="username" autocomplete="username" required/>
          
          <label class="textInputLabel" for="pwdLoginPassword">{{$t('password')}}</label>
          <input class="textInput" id="pwdLoginPassword" v-model="password" type="password" name="current-password" autocomplete="current-password" required>
          
          <button class="submitButton" type="submit" :disabled="pending" name="login">
            {{$t('passwordAndEmail.action')}} <IconSpinner v-show="pending" class="spinner"/>
          </button>
          
          <router-link :to="{view: 'Login', hash: 'passwordreset'}">{{$t('passwordAndEmail.change')}}</router-link>
        </form>
      </section>

      <section class="loginSection" v-if="showPasswordLessLogin">
        <h2>{{$t('passwordless.title')}}</h2>
        <p class="sectionDescription">{{$t('passwordless.description')}}</p>
        <form class="loginForm" @submit.prevent="getPasswordlessLogintoken">
          <label class="textInputLabel" for="pwdlessLoginEmail">{{$t('email')}}</label>
          <input class="textInput" id="pwdlessLoginEmail" v-model="email" type="email" name="username" autocomplete="username" required/>

          <button class="submitButton" type="submit" :disabled="pending" name="login">
            {{$t('passwordless.action')}} <IconSpinner v-show="pending" class="spinner"/>
          </button>
        </form>
      </section>
      
      <section class="loginSection" v-if="showPasswordReset">
        <h2>{{$t('passwordReset.title')}}</h2>
        <p class="sectionDescription">{{$t('passwordReset.description')}}</p>
        <form class="loginForm" @submit.prevent="passwordReset">
          <label class="textInputLabel" for="pwdResetEmail">
            {{$t('email')}}
          </label>
          <input class="textInput" id="pwdResetEmail" v-model="email" type="email" name="username" autocomplete="username" required/>

          <button class="submitButton" type="submit" :disabled="pending" name="login">
            {{$t('passwordReset.action')}} <IconSpinner v-show="pending" class="spinner"/>
          </button>
        </form>
      </section>

      <section class="loginSection" v-if="showPasswordResetReturn">
        <h2>{{$t('passwordResetReturn.title')}}</h2>
        <p class="sectionDescription">{{$t('passwordResetReturn.description')}}</p>
        <form class="loginForm" @submit.prevent="passwordResetReturn">
          
          <label class="textInputLabel" for="pwdresetemail">{{$t('passwordResetReturn.email')}}</label>
          <input class="textInput" id="pwdresetemail" :value="email" type="email" disabled name="username">

          <label class="textInputLabel" for="pwdreset">{{$t('passwordResetReturn.passwordNew')}}</label>
          <input class="textInput" id="pwdreset" v-model="newPassword" type="password" name="new-password" autocomplete="new-password" required>
          
          <label class="textInputLabel" for="pwdreset2x">{{$t('passwordResetReturn.passwordNew2x')}}</label>
          <input class="textInput" id="pwdreset2x" v-model="newPassword2x" type="password" name="new-password-2x" autocomplete="new-password" required>

          <button class="submitButton" type="submit" :disabled="pending" name="login">
            {{$t('passwordResetReturn.action')}} <IconSpinner v-show="pending" class="spinner"/>
          </button>
        </form>
      </section>

      <section class="loginSection" v-if="showPasswordLessReturn">
        <h2>{{$t('passwordless.title')}}</h2>
        <p class="sectionDescription">{{$t('passwordlessReturn.description')}}</p>
      </section>

      <section class="loginSection" v-if="showPasswordResetInfo">
        <h2>{{$t('emailOnTheWay')}}</h2>
        <input class="textInput" id="pwdresetemail" :value="email" type="email" disabled name="email">
        <p class="sectionDescription">{{$t('passwordReset.info')}}</p>
      </section>

      <section class="loginSection" v-if="showPasswordLessLoginInfo">
        <h2>{{$t('emailOnTheWay')}}</h2>
        <input class="textInput" id="pwdresetemail" :value="email" type="email" disabled name="email">
        <p class="sectionDescription">{{$t('passwordless.info')}}</p>
      </section>

    </main>
  </Plain>
</template>

<script>
import Plain from '@/components/layout/Plain';
import IconSpinner from '@/components/icons/spinner';

function handleError(error) {
  this.pending = false;
  this.$store.dispatch('showError', {
    statusCode: error.statusCode,
    title: this.$t(`error.${error.title}.title`),
    message: this.$t(`error.${error.title}.message`)
  });
}

export default {
  name: 'Login',
  components: {
    Plain,
    IconSpinner
  },
  i18nOptions: {
    namespaces: 'login'
  },
  props: ['query', 'hash'],
  data() {
    return {
      email: '',
      password: '',
      newPassword: '',
      newPassword2x: '',
      pending: false,
      showInfo: false
    };
  },
  created() {
    if (this.query.email) {
      this.email = this.query.email;
    }
    if (this.hash === '#passwordlessreturn') {
      this.passwordlessLogin();
    }
  },
  methods: {
    passwordLogin() {
      const store = this.$store, 
        router = this.$router,
        query = this.query;
      
      this.pending = true;
      return store.dispatch('hideError')
        .then(() => {
          return store.dispatch('passwordLogin', {
            email: this.email,
            password: this.password
          })
        })
        .then(() => {
          this.pending = false;       
          return router.replace({
            path: query.redirect || '/'
          });
        })
        .catch(handleError.bind(this));
    },
    passwordReset() {
      const store = this.$store, 
        router = this.$router,
        query = this.query;
      
      this.pending = true;
      return store.dispatch('hideError')
        .then(() => {
          return store.dispatch('passwordReset', {
            email: this.email,
            redirect: query.redirect || '/'
          })
        })
        .then(() => {
          this.pending = false;        
          return router.replace({
            view: 'Login',
            hash: 'passwordresetinfo',
            query: {
              email: this.email
            }
          });
        })
        .catch(handleError.bind(this));
    },
    passwordResetReturn() {
      const store = this.$store, 
        router = this.$router,
        query = this.query;
      
      this.pending = true;
      return store.dispatch('hideError')
        .then(() => {
           return store.dispatch('passwordResetReturn', {
            token: query.token || '',
            password: this.newPassword,
            password2x: this.newPassword2x
          })
        })
        .then(() => {        
          return router.replace({
            path: query.redirect || '/'
          });
        })
        .catch(handleError.bind(this));
    },
    getPasswordlessLogintoken() {
      const store = this.$store, 
        router = this.$router,
        query = this.query;
      
      this.pending = true;
      return store.dispatch('hideError')
        .then(() => {
          return store.dispatch('getPasswordlessLogintoken', {
            email: this.email,
            redirect: query.redirect || '/'
          })
        })
        .then(() => {
          this.pending = false;        
          return router.replace({
            view: 'Login',
            hash: 'passwordlessinfo',
            query: {
              email: this.email
            }
          });
        })
        .catch(handleError.bind(this));
    },
    passwordlessLogin() {
      const store = this.$store, 
        router = this.$router,
        route = this.$route;
      
      store.dispatch('passwordlessLogin', {
        token: route.query.token || ''
      }).then(() => {        
        router.replace({
          path: route.query.redirect || '/'
        });
      }).catch(handleError.bind(this));
    }
  },
  computed: {
    isSame() {
      return this.password === this.password2x;
    },
    isValid() {
      return this.isSame && this.password.length >= 9;
    },
    showPasswordLogin() {
      let hash = this.hash;

      return hash === '' ||
        hash === '#password';
    },
    showPasswordLessLogin() {
      let hash = this.hash;

      return hash === '' ||
        hash === '#passwordless';
    },
    showPasswordReset() {
      let hash = this.hash;

      return hash === '' ||
        hash === '#passwordreset';
    },
    showPasswordResetReturn() {
      let hash = this.hash;

      return hash === '' ||
        hash === '#passwordresetreturn';
    },
    showPasswordLessReturn() {
      let hash = this.hash;

      return hash === '' ||
        hash === '#passwordlessreturn';
    },
    showPasswordResetInfo() {
      let hash = this.hash;

      return hash === '#passwordresetinfo';
    },
    showPasswordLessLoginInfo() {
      let hash = this.hash;

      return hash === '#passwordlessinfo';
    }
  }
};
</script>

<style>
  @import '../assets/css/main.css';

  .loginNavigation {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1em;
    width: 100%;
    max-width: 22em;
  }
  .loginNavItem {
    flex: 1 1 auto;
    text-align: center;
    font-size: 1.2em;
    padding: 0.5em 0.5em;
    width: 100%;
  }

  .loginContainer {
    display: grid;
    justify-items: center;
    margin: 0 1em;
  }

  .loginSection {
    width: 100%;
    max-width: 22em;
    margin-bottom: 4em;
  }
  .sectionDescription {
    margin-bottom: 2em;
    line-height: 1.5;
  }
  .loginForm {
    display: flex;
    flex-direction: column;
  }

  .textInputLabel {
    margin-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .textInput {
    margin-bottom: 1em;
    width: 100%;
  }

  .submitButton {
    height: 3em;
    background-color: var(--cinediaYellow);
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .submitButton:hover {
    background-color: color(var(--cinediaYellow) lightness(+20%))
  }
  .submitButton:active {
    background-color: color(var(--cinediaYellow) lightness(-20%))
  }
  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .spinner {
    margin-left: 1em;
    width: 2em;
    animation: rotating 1s linear infinite;
  }
</style>