<template>
  <main class="main404">
    <h1 class="title404">404</h1>
    <p>{{$route.path}}</p>
    <router-link :to="{name: 'Frontpage'}">home</router-link>
  </main>
</template>

<script>
export default {
  name: 'NotFound',
  computed: {
    path() {
      return this.$route.path;
    }
  }
}
</script>

<style>
  @import '../assets/css/main.css';
</style>