<template>
  <AdminMain>
    <Stages 
      :stages="stages" 
      :locations="locations" 
      :companies="companies" 
      :selectedCompany="selectedCompany"
      :selectedCompanyMuteSegmentOrder="getMuteSegmentOrderByCompanyId"
      :selectedCompanyAudioSegmentOrder="getAudioSegmentOrderByCompanyId"
      @selectCompany="selectCompany"
    />
  </AdminMain>
</template>

<script>
import AdminMain from '@/components/layout/AdminMain';
import Stages from '@/components/Stages';
import {
  mapGetters,
  mapActions
} from 'vuex';

export default {
  name: 'stages',
  data() {
    return {
      selectedCompanyId: '',
      selectedCompanyIdSegmentMute: '',
      selectedCompanyIdSegmentAudio: ''
    };
  },
  created () {
    this.loadCompaniesCollection();
    this.loadLocationsCollection();
    this.loadStagesCollection();
  },
  methods: {
    ...mapActions({
      loadCompaniesCollection: 'companies/loadCollection',
      loadLocationsCollection: 'locations/loadCollection',
      loadStagesCollection: 'stages/loadCollection'
    }),
    selectCompany(selectedCompanyId) {
      this.selectedCompanyId = selectedCompanyId;
      this.$store.dispatch('companySegmentOrder/load', {
          companyId: selectedCompanyId,
          hasAudio: false
        })
        .then(() => {
          this.selectedCompanyIdSegmentMute = selectedCompanyId;
        });
      this.$store.dispatch('companySegmentOrder/load', {
          companyId: selectedCompanyId,
          hasAudio: true
        })
        .then(() => {
          this.selectedCompanyIdSegmentAudio = selectedCompanyId;
        });
    }
  },
  computed: {
    ...mapGetters({
      companies: 'companies/list',
      locations: 'locations/list',
      stages: 'stages/list'
    }),
    selectedCompany() {
      return this.$store.getters['companies/getById'](this.selectedCompanyId);
    },
    getMuteSegmentOrderByCompanyId() {
      return this.$store.getters['companySegmentOrder/getMuteByCompanyId'](this.selectedCompanyIdSegmentMute);
    },
    getAudioSegmentOrderByCompanyId() {
      return this.$store.getters['companySegmentOrder/getAudioByCompanyId'](this.selectedCompanyIdSegmentAudio);
    }
  },
  components: {
    AdminMain,
    Stages
  }
};
</script>

<style>
  @import '../assets/css/main.css';
</style>