<template>
  <AppMain>
    <div class="buttonRow">
      <button class="button" :disabled="!startableUploads" @click="enqeueAll">{{$t('uploadAll')}}</button>
      <ConfirmButton class="button" abortClass="alertButton" :disabled="!hasUploadsToDelete" v-on:confirm="removeAll" :message="$t('removeAll')" confirmMessage="sicher?"/>
    </div>
    <File v-on:file="createUpload">
      <ol class="uploadList">
        <Upload
          v-for="upload in listUploads"
          :upload="upload"
          :key="upload.id"
          v-on:enqueue="enqueueOne"
          v-on:dequeue="dequeueOne"
          v-on:abort="abortOne"
          v-on:remove="removeOne"
        />
      </ol>
    </File>
  </AppMain>
</template>

<script>
import AppMain from '@/components/layout/AppMain';
import File from '@/components/File';
import Upload from '@/components/Upload';
import ConfirmButton from '@/components/ConfirmButton';

export default {
  name: 'SujetsUpload',
  i18nOptions: {
    namespaces: 'uploads'
  },
  watch: {
  },
  methods: {
    createUpload(file) {
      if (this.$store.getters.totalUploads < 50){
        this.$store.dispatch('createUpload', file);
      } else {
        this.$store.dispatch('showError', {
          title: 'error.uploadsListMax.title',
          message: 'error.uploadsListMax.message'
        });
      }
    },
    enqueueOne(id) {
      this.$store.dispatch('enqueueOne', id);
    },
    enqeueAll() {
      this.$store.dispatch('enqeueAll');
    },
    dequeueOne(id) {
      this.$store.dispatch('dequeueOne', id);
    },
    deqeueAll() {
      this.$store.dispatch('deqeueAll');
    },
    abortOne (id) {
      this.$store.dispatch('abortOne', id);
    },
    abortAll (id) {
      this.$store.dispatch('abortAll', id);
    },
    removeOne(id) {
      this.$store.dispatch('removeOne', id);
    },
    removeAll(id) {
      this.$store.dispatch('removeAll', id);
    }
  },
  computed: {
    listUploads() {
      return this.$store.getters.listUploads;
    },
    hasUploadsToDelete() {
      return this.listUploads.length > 0;
    },
    startableUploads() {
      return this.$store.getters.startableUploads;
    }
  },
  components: {
    AppMain,
    File,
    Upload,
    ConfirmButton
  }
};
</script>

<style>
  @import '../assets/css/main.css';

  .uploadList {
    padding: 0;
    list-style-type: none;
    width: 100%;
    display: grid;
    grid-column: 1fr;
    grid-gap: 1em;
  }

  .buttonRow {
    margin-bottom: 1em;
  }
</style>