<template>
  <AppMain>
    <SujetItem
      v-if="getSujetById"
      :sujet="getSujetById"
      :schedule="schedule"
      @conflict="loadSujetItem"
      @ready="loadSujetItem"
    />
    <section v-if="canViewSchedule">
      <div v-if="showCompanyFilter">
        <div>
          <input type="checkbox" id="modifyall" :checked="companyFilterTotSelected" @change="changeAll">
          <label for="modifyall">{{$t('filterAll')}}</label>
        </div>
        <div v-for="company in companies" >
          <input type="checkbox" :id="`company.id.${company.id}`" :data-companyid="company.id" :checked="companyFilter[company.id] === true" @change="changeCompanyFilter">
          <label :for="`company.id.${company.id}`">{{company.name}}</label>
        </div>
      </div>
      <div class="sujetScheduleDatePicker">
        <button class="scheduleNavButton" @click="setUiStartdateToPrevPage">{{$t('prevDates')}}</button>
        <div class="sujetScheduleCalendar">
          <datepicker
            monday-first
            input-class="SujetItemDateInput"
            :disabled-dates="datepickerConfig.disabled"
            :format="customFormatter"
            :value="startdate.toDate()"
            @selected="setUiStartdate"
          />
          <button class="scheduleNavButton" @click="resetUiStartdate">{{$t('currDates')}}</button>
        </div>
        <button class="scheduleNavButton" @click="setUiStartdateToNextPage">{{$t('nextDates')}}</button>
      </div>
      <Schedule
        :sujetId="sujetid"
        :schedule="schedule.entities"
        :scheduleUi="scheduleUi"
        :stages="filteredStages"
        :stageMarkId="stageid"
        :dateslotMarkId="dateslotid"
        :dateslots="dateslots"
        :enabled="scheduleEnabled"
        :notGuaranteed="notGuaranteed"
        :startdate="startdate"
        :enddate="enddate"
        @conflict="loadSujetAndSchedule"
        @error="loadSujetAndSchedule"
        @change="loadSujetItem"
      />
    </section>
  </AppMain>
</template>

<script>
import forown from 'lodash.forown';
import AppMain from '@/components/layout/AppMain';
import SujetItem from '@/components/SujetItem';
import Schedule from '@/components/Schedule';
import debounce from 'lodash.debounce';
import moment from 'moment';
import Datepicker from 'vuejs-datepicker';

export default {
  name: 'sujet',    
  props: ['sujetid', 'stageid', 'dateslotid'],
  i18nOptions: {
    namespaces: 'sujets'
  },
  mounted() {
    document
      .querySelectorAll(".vdp-datepicker input")
      .forEach(e => (e.readOnly = true));
  },
  data() {
    return {
      datepickerConfig: {
        disabled: {
          days: [0, 1, 2, 3, 5, 6]
        }
      }
    };
  },
  created () {
    this.loadSujetItem()
      .then(() => {
        if (this.canViewSchedule) {
          this.setUiWeekrange();
          window.addEventListener('resize', this.handleWidthChange);
          return Promise.all([
            this.loadDateslotCollection(),
            this.loadStageCollection(),
            this.loadScheduleCollection(),
          ]);
        }
      }).catch((error) => {
        console.log(error);
        this.$store.dispatch('showError', {
          title: this.$t('error.sujetItemload.title')
        });
      });
  },
  destroyed() {
    window.removeEventListener('resize', this.handleWidthChange);
  },
  watch: {
    weekrange() {
      this.loadDateslotCollection();
      this.loadScheduleCollection();
    },
    startdate() {
      this.loadDateslotCollection();
      this.loadScheduleCollection();
    }
  },
  components: {
    AppMain,
    SujetItem,
    Schedule,
    Datepicker
  },
  methods: {
    customFormatter(date) {
      return moment(date).format('dd D MMMM YYYY');
    },
    handleWidthChange: debounce(function() {
      this.setUiWeekrange();
    }, 150, {
      leading: false
    }),
    setUiStartdate(date) {
      let newStartdate = moment(date);

      if (moment(newStartdate).isValid()) {
        this.$store.commit('setUiStartdate', newStartdate);
      } else {
        this.$store.commit('setUiStartdate', moment(this.startdate));
      }
    },
    setUiStartdateToNextPage() {
      this.$store.commit('setUiStartdate', moment(this.startdate).add((this.weekrange / 2).toFixed(), 'weeks'));
    },
    setUiStartdateToPrevPage() {
      this.$store.commit('setUiStartdate', moment(this.startdate).subtract((this.weekrange / 2).toFixed(), 'weeks'));
    },
    resetUiStartdate() {
      this.$store.commit('resetUiStartdate');
    },
    setUiWeekrange() {
      this.$store.commit('setUiWeekrange', Number((window.innerWidth - 100)/ 100).toFixed());
    },
    loadSujetItem() {
      return this.$store.dispatch('loadSujetItem', this.sujetid);
    },
    loadScheduleCollection() {
      return this.$store.dispatch('loadScheduleCollection', {
        sujetId: this.sujetid,
        startdate: this.startdate,
        enddate: this.enddate
      });
    },
    loadSujetAndSchedule() {
      return Promise.all([
        this.loadSujetItem(),
        this.loadScheduleCollection()
      ]).catch(() => {
        this.$store.dispatch('showError', {
          title: this.$t('error.sujetItemload.title')
        });
      });
    },
    loadDateslotCollection() {
      return this.$store.dispatch('loadDateslotCollection', {
        startdate: this.startdate,
        enddate: this.enddate
      });
    },
    loadStageCollection() {
      return this.$store.dispatch('stages/loadCollection');
    },
    changeCompanyFilter(event) {
      return this.$store.dispatch('stages/changeCompanyFilter', {
        companyId: event.target.getAttribute('data-companyid'),
        status: event.target.checked
      });
    },
    changeAll(event) {
      return this.$store.dispatch('stages/changeAllCompanyFilters', {
        status: !this.companyFilterTotSelected
      });
    }
  },
  computed: {
    canViewSchedule() {
      return this.userCanViewSchedule && (this.getSujetById && this.getSujetById.customerId === this.$store.getters.getUser.customer.id);
    },
    userCanViewSchedule() {
      return this.$store.getters.userHasActivity('sujets.schedule.read');
    },
    userCanEditSchedule() {
      return this.$store.getters.userHasActivity('sujets.schedule.update');
    },
    scheduleEnabled() {
      let sujet = this.getSujetById;
      
      return sujet && this.userCanEditSchedule && ((sujet.sourcefile.isValid || (sujet.sourcefile.validation.error && sujet.sourcefile.validation.errorReported)));
    },
    notGuaranteed() {
      let sujet = this.getSujetById;
      
      return sujet && this.userCanEditSchedule && 
        (
          (sujet.sourcefile.isValid && !sujet.intermediate.ready) ||
          (!sujet.sourcefile.isValid && sujet.sourcefile.validation.error && sujet.sourcefile.validation.errorReported)
        );
    },
    startdate() {
      return moment(this.$store.getters.getUiStartdate);
    },
    enddate() {
      return this.$store.getters.getUiEnddate;
    },
    weekrange() {
      return this.$store.getters.getUiWeekrange;
    },
    getSujetById() {
      return this.$store.getters.getSujetById(this.sujetid);
    },
    schedule() {
      return this.$store.getters.getScheduleBySujetId(this.sujetid);
    },
    scheduleUi() {
      return this.$store.getters.getScheduleUiBySujetId(this.sujetid);
    },
    dateslots() {
      return this.$store.getters.listDates;
    },
    stages() {
      return this.$store.getters['stages/list'];
    },
    companies() {
      return this.$store.getters['stages/listCompanies'];
    },
    companyFilter() {
      return this.$store.getters['stages/companyFilter'];
    },
    showCompanyFilter() {
      return this.companies.length > 1;
    },
    filteredStages() {
      return this.$store.getters['stages/filteredStages'];
    },
    companyFilterTotSelected() {
      let result = true;

      forown(this.companyFilter, (companyIdIsSelected) => {
        result = result && companyIdIsSelected
      })

      return result;
    }
  }
};
</script>

<style>
  @import '../assets/css/main.css';

  .sujetScheduleDatePicker {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -1px;
    border: 1px solid var(--darkGreyMain);
    padding: 0.5em 0.8em;
  }
  .sujetScheduleCalendar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .scheduleNavButton {
    margin-bottom: 0.3em;
  }
  .SujetItemDateInput {
    font-size: 1.1em;
    text-align: center;
    width: 300px;
    border: 1px solid var(--darkGreyMain);
    padding: 0.3em 0.3em;
    margin-right: 1em;
    margin-bottom: 0.3em;
  }
</style>