<template>
  <AppMain>

    <div class="sujetListFilter">
      <fieldset>
        <legend>{{$t('typesName')}}</legend>
        <div class="sujettypefiltercontainer">
          <input class="filter" type="checkbox" id="dias" name="sujettype" value="dia" @change="changeSujetTypeFilter" :checked="checkIfSujetTypeChecked('dia')">
          <label  for="dias">
            <SujetType class="sujetListVieFilterTypeIcon" :type="'dia'"/>
            {{$t('dias')}}
          </label>
        </div>
        <div class="sujettypefiltercontainer">
          <input class="filter" type="checkbox" id="spotmute" name="sujettype" value="spotmute" @change="changeSujetTypeFilter" :checked="checkIfSujetTypeChecked('spotmute')">
          <label for="spotmute"><SujetType class="sujetListVieFilterTypeIcon" :type="'spot_mute'"/>{{$t('spotsMute')}}</label>
        </div>
        <div class="sujettypefiltercontainer">
          <input class="filter" type="checkbox" id="spotsound" name="sujettype" value="spotsound" @change="changeSujetTypeFilter" :checked="checkIfSujetTypeChecked('spotsound')">
          <label for="spotsound"><SujetType class="sujetListVieFilterTypeIcon" :type="'spot_sound'"/>{{$t('spotsSound')}}</label>
        </div>
      </fieldset>

      <fieldset>
        <legend>{{$t('bookingStateName')}}</legend>
        <div>
          <input type="radio" id="statusNew" value="new" name="sujetStatusRadio" @change="changeSujetStatusFilter" :checked="sujetStatus === 'new'"/>
          <label for="statusNew">{{$t('bookingState.new')}}</label>
        </div>
        <div>
          <input type="radio" id="statusCurrent" value="current" name="sujetStatusRadio" @change="changeSujetStatusFilter" :checked="sujetStatus === 'current'"/>
          <label for="statusCurrent">{{$t('bookingState.current')}}</label>
        </div>
        <div>
          <input type="radio" id="statusPasr"  value="past" name="sujetStatusRadio" @change="changeSujetStatusFilter" :checked="sujetStatus === 'past'"/>
          <label for="statusPasr">{{$t('bookingState.past')}}</label>
        </div>
        <div>
          <input type="radio" id="statusAll"  value="all" name="sujetStatusRadio" @change="changeSujetStatusFilter" :checked="sujetStatus === 'all'"/>
          <label for="statusAll">{{$t('bookingState.all')}}</label>
        </div>
      </fieldset>

      <fieldset>
        <legend>{{$t('search')}}</legend>
        <div class="sujetsSearchInputWithClearButton">
          <input id="sujetSearch" :class="['input', 'sujetListSearch', searchActive]" type="search" v-model="search" @keydown.enter="searchSujets" name="search">
          <button @click="clearSearch">X</button>
        </div>
        <button class="searchButton" @click="searchSujets">{{$t('searchAction')}}</button>
      </fieldset>
    </div>

    <div class="sujetListPagination">
      <router-link class="navButton" :to="prevLink" exact>{{$t('prev')}}</router-link>
      <router-link class="navButton" :to="homeLink" exact>{{$t('home')}}</router-link>
      <router-link class="navButton" :to="nextLink" exact>{{$t('next')}}</router-link>
    </div>

    <div v-if="list && list.length === 0">
      <p>{{$t('noSujetsForCurrentFilterSettings')}}</p>
      <router-link :to="resetLink">{{$t('resetFilter')}}</router-link>
    </div>
    <SujetList :list="list"/>

    <div class="sujetListPagination" v-if="list && list.length !== 0">
      <router-link class="navButton" :to="prevLink" exact>{{$t('prev')}}</router-link>
      <router-link class="navButton" :to="homeLink" exact>{{$t('home')}}</router-link>
      <router-link class="navButton" :to="nextLink" exact>{{$t('next')}}</router-link>
    </div>

  </AppMain>
</template>

<script>
import throttle from 'lodash.throttle';
import AppMain from '@/components/layout/AppMain';
import SujetList from '@/components/SujetList';
import File from '@/components/File';
import SujetType from '@/components/SujetType';

export default {
  name: 'sujets',
  i18nOptions: {
    namespaces: 'sujets'
  },
  props: ['query'],
  data() {
    return {
      search: ''
    };
  },
  created () {
    this.updateQueryParams();
    this.loadSujetCollection();
    if (this.query.search) {
      this.search = this.query.search;
    } else {
      this.search = '';
    }
  },
  watch: {
    query: function () {
      this.updateQueryParams();
      this.loadSujetCollection();
    }
  },
  methods: {
    updateQueryParams () {
      this.$store.commit('setQueryParams', this.query);
      if (this.query.search) {
        this.search = this.query.search;
      } else {
        this.search = '';
      }
    },
    loadSujetCollection () {
      return this.$store.dispatch('loadSujetCollection', this.query)
        .catch((error) => {
          console.log(error);
          this.$store.dispatch('showError', {
            title: this.$t('error.sujetCollectionLoad.title')
          });
        });
    },
    searchSujets() {
      this.transition = 'fade';
      this.$router.push(this.$store.getters.getSearchLink(this.search));
    },
    changeSujetStatusFilter(event) {
      this.$router.push(this.$store.getters.getSujetStatusLink(event.target.value));
    },
    changeSujetTypeFilter(event) {
      this.transition = 'fade';
      this.$router.push(this.$store.getters.getSujetTypeLink(event.target.value));
    },
    clearSearch() {
      this.search = '';
      this.$router.push(this.$store.getters.currentPageClearSearchLink);
    }
  },
  computed: {
    sujetStatus() {
      return this.$store.state.sujets.view.status;
    },
    searchActive() {
      return {
        searchActive: this.search.length !== 0
      };
    },
    checkIfSujetTypeChecked: function() {
      let that = this;
      return function(sujettype) {
        if (that.$store.state.sujets.view.types) {
          return that.$store.state.sujets.view.types.includes(sujettype);
        } else {
          return false;
        }
      };
    },
    list () {
      return this.$store.getters.list;
    },
    resetLink () {
      return this.$store.getters.resetLink;
    },
    nextLink () {
      return this.$store.getters.nextPageLink;
    },
    homeLink () {
      return this.$store.getters.homePageLink;
    },
    prevLink () {
      return this.$store.getters.prevPageLink;
    }
  },
  components: {
    AppMain,
    SujetList,
    File,
    SujetType
  }
};
</script>

<style>
  @import '../assets/css/main.css';

  .filter + label {
    color: var(--textLight);
    fill: var(--textLight);
  }
  .filter:checked + label {
    color: var(--textDark);
    fill: var(--textDark);
  }
  .sujetListVieFilterTypeIcon svg {
    height: 1em;
  }

  .navButton {
    display: inline-block;
  }

  .searchActive[type=search] {
    background-color: color(var(--cinediaYellowDark) lightness(+50%))
  }

  .sujetListFilter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
  }

  .sujetListFilter > select {
    width: 15em;
    height: 1.5em;
    text-align: center;
  }

  .sujetListFilter fieldset {
    margin-bottom: 1em; 
  }

  .sujetsSearchInputWithClearButton {
    position: relative;
    margin: 0;
  }

  .searchButton {
    margin-top: 0.5em;
  }

  .sujetsSearchInputWithClearButton input[type=search]  {
    width: 15em;
    padding-right: 3.5em;
  }
  .sujetsSearchInputWithClearButton button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .sujetListPagination {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
  }
</style>
