<template>
  <AdminMain>
    <h1>Users</h1>
    <Users 
      :users="users" 
      :selectedUser="selectedUser" 
      :selectedUserActivities="selectedUserActivities" 
      :customers="customers"
      :activities="activities"
      @selectUser="selectUser"
    />
  </AdminMain>
</template>

<script>
import AdminMain from '@/components/layout/AdminMain';
import Users from '@/components/Users';
import {
  mapGetters,
  mapActions
} from 'vuex';

export default {
  name: 'users',
  data() {
    return {
      selectedUserId: '',
      selectedUserActivitiesId: ''
    };
  },
  created () {
    this.loadUsers();
    this.loadCustomers();
    this.loadActivities();
  },
  methods: {
    ...mapActions({
      loadUsers: 'users/loadCollection',
      loadCustomers: 'customers/loadCollection',
      loadActivities: 'activities/loadCollection'
    }),
    selectUser(userId) {
      this.selectedUserId = userId;
      this.$store.dispatch('userActivities/load', userId)
        .then(() => {
          this.selectedUserActivitiesId = userId;
        });
    }
  },
  computed: {
    ...mapGetters({
      users: 'users/list',
      customers: 'customers/list',
      activities: 'activities/list'
    }),
    selectedUser() {
      return this.$store.getters['users/getById'](this.selectedUserId);
    },
    selectedUserActivities() {
      return this.$store.getters['userActivities/getByUserId'](this.selectedUserActivitiesId);
    }
  },
  components: {
    AdminMain,
    Users
  }
};
</script>

<style>
</style>