<template>
  <div>
    <h1 class="blockItemTitle">KW {{block.dateslot.kw}} {{block.stage.name}}</h1>
    <p>{{ $t('duration', {seconds: duration}) }}</p>
    <p>
      <span v-if="block.dcp.pending">dcp rendering</span>
      <span v-if="block.dcp.error">dcp rendering error</span>
    </p>
    <p v-if="!block.locked">{{ $t('lockedIn', {date: block.lockDate}) }}</p>
    <p v-if="block.locked">{{ $t('lockedSince', {date: block.lockDate}) }}</p>
    <span v-if="block.current && block.dcp.ready"> {{ $t('dcpReady') }} </span>
    <span v-if="block.current && !block.dcp.ready">{{ $t('dcpNotReady') }}</span>
    <a v-if="!block.outdated && block.dcp.ready && user.customer.type === 'cinema' && userIsAllowedToDownloadDcp" download :href="block.dcp.href">{{ $t('dcpDownload') }}</a>
  </div>
</template>

<script>
export default {
  name: 'block',
  i18nOptions: {
    namespaces: 'blocks'
  },
  props: ['block', 'user', 'duration'],
  computed: {
    userIsAllowedToDownloadDcp() {
      return this.$store.getters.userHasActivity('blocks.dcps.read')
    }
  },
  components: {}
};
</script>

<style>
  @import '../assets/css/main.css';
  
  .blockItemTitle {
    margin: 0 0;
  }
</style>