<template>
  <table class="table subHeaderSpace">
    <thead>
      <tr>
        <th class="blockListCompanyName">Firma</th>
        <th class="blockListLocationName">Kino</th>
        <th>Saal</th>
        <th v-if="userIsAllowedToDownloadDcp">{{$t('downloadLink')}}</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(block, index) in blocks">
        <td v-if="isFirst('company', blocks, index)" class="blockListCompanyName" :rowspan="calcRowspan('company', blocks, index)">
            {{block.company.name}}
        </td>

        <td v-if="isFirst('location', blocks, index)" class="blockListLocationName" :rowspan="calcRowspan('location', blocks, index)">
            {{block.location.name}}
        </td>

        <td>
          <router-link :to="{ name: 'BlockItem', params: { blockid: block.id }}">
            {{block.stage.name}}
          </router-link>
        </td>

        <td v-if="userIsAllowedToDownloadDcp">
          <a v-if="!block.outdated && block.dcp.ready" download :href="block.dcp.href">{{$t('dcp')}}</a>
          <span v-if="block.outdated" download :href="block.dcp.href">{{$t('outdated')}}</span>
          <span v-if="!block.outdated && !block.locked" download :href="block.dcp.href">{{$t('notready')}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import includes from 'lodash.includes';
import moment from 'moment';

export default {
  name: 'blocktable',
  props: ['blocks'],
  i18nOptions: {
    namespaces: ['schedule', 'blocks']
  },
  components: {},
  methods: {},
  computed: {
    userIsAllowedToDownloadDcp() {
      return this.$store.getters.userHasActivity('blocks.dcps.read')
    },
    isFirst: () => (keyname, blocks, i) => {
      if (!blocks[i-1] || blocks[i-1] && blocks[i-1][keyname].id !== blocks[i][keyname].id) {
        return true;
      } else {
        return false;
      }
    },
    calcRowspan: () => (keyname, blocks, i) => {
      let rowspan = 1;

      while(blocks[i + 1] && blocks[i + 1][keyname].id === blocks[i ][keyname].id) {
        rowspan++;
        i++;
      }
      return rowspan;
    }
  }
};
</script>

<style>
  @import '../assets/css/main.css';
  
  .table {
      box-sizing: border-box;
      border-collapse: collapse;
      table-layout: auto;
      width: 100%;
      white-space: nowrap;
  }

  .table th {
      border: solid 1px var(--almostBlack);
      height: 2em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: right;
      padding: 0 0.6em;
  }

  .table td {
      border: solid 1px var(--almostBlack);
      padding: 0.5em 0.5em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: right;
      vertical-align: top;
  }
  .table .kwHeader {
    text-align: center;
    font-size: 2em;
  }

  @media only screen and (max-width: 500px) {
    .blockListCompanyName {
      display: none;
    }
    .blockListLocationName {
      display: none;
    }
  }
</style>
