<template>
  <button :class="styles" @click="handleClick" @blur="abort" :disabled="disabled">{{armed ? confirmMessage : message}}</button>
</template>

<script>
export default {
  name: 'confirmButton',
  props: ['message', 'confirmMessage', 'abortClass', 'disabled'],
  data() {
    return {
      armed: false
    };
  },
  computed: {
    styles() {
      return this.armed ? this.abortClass : '';
    }
  },
  methods: {
    handleClick (event) {
      if (!this.armed) {
        this.armed = true;
      } else {
        this.$emit('confirm', event);
        this.armed = false;
      }
    },
    abort() {
      this.armed = false;
    }
  }
};
</script>

<style>
  @import '../assets/css/main.css';
</style>