<template>
  <div>
    <form @submit.prevent="createCustomer">
      <fieldset>
        <legend>create customer</legend>
        <input v-model="newcustomer.name.full" required type="text" name="fullname" placeholder="full name">
        <input v-model="newcustomer.name.short" required type="text" name="shortname" placeholder="short name">
        <select v-model="newcustomer.type" required>
          <option disabled selected value="">select customer type</option>
          <option value="cinema">cinema</option>
          <option value="advertiser">advertiser</option>
          <option value="thirdparty">thirdparty</option>
        </select>
        <input type="submit" value="create">
      </fieldset>
    </form>
    <p/>
    <h3>
      <select @change="selectCustomer">
        <option disabled selected value="">select customer</option>
        <option v-for="customer in customers" :key="customer.id" :value="customer.id">
          {{`${customer.name.full}`}}
        </option>
      </select>
    </h3>

    <section v-if="selectedCustomer">
      <EditableText @save="save" path="/name/full" :item="selectedCustomer" name="fullname">
        {{selectedCustomer.name.full}}
      </EditableText>
      <EditableText @save="save" path="/name/short" :item="selectedCustomer" name="shortname">
        {{selectedCustomer.name.short}}
      </EditableText>
      customer type: <EditableSelect @save="save" path="/type" :collection="selectCustomerType"/>
      <h3>Schreib-Rechte Companies</h3>
      <p>Der Kunde {{selectedCustomer.name.full}} kann in allen Stages der folgenden Companies Sujets buchen und hat darin automatisch ein MUTE und ein SOUND Segment. Lese-Rechte sind inklusive, können aber im nächsten Abschnitt ohne Nebenwirkungen ein zweites Mal vergeben werden.</p>
      <div v-if="selectCustomerCompanySegments" v-for="company in calcSelectedCustomerCompanySegment">
        <label>
          <input type="checkbox" @click="updatCustomerCompanySegment" :checked="company.checked" :name="`company.segment.${company.name.short}`" :value="company.id">
          {{company.name.full}}
        </label>
      </div>
      <h3>Lese-Rechte Companies</h3>
      <p>Der Kunde {{selectedCustomer.name.full}} hat Lese-Rechte auf alle Stages der folgenden Companies, für den Fall, dass dem Kunden oben keine Schreibrechte mit Segmenten gewährt wurden. Der Kunde kann die Blöcke der Stages sehen und zusätzlich runterladen wenn er ein Kundentyp "cinema hat." Um die Sujets der Blöcke sehen zu können, müssen Sujet-Lese-Rechte für die betreffenden Kunden gegeben werden. Bsp.: Kino-Customer ohne eigene Buchungsmlglichkeit, lädt nur Blöcke runter</p>
      <div v-if="selectCustomerReadCompanies" v-for="company in calcSelectedCustomerReadCompanies">
        <label>
          <input type="checkbox" @click="updatCustomerReadCompany" :checked="company.checked" :name="`company.segment.${company.name.short}`" :value="company.id">
          {{company.name.full}}
        </label>
      </div>
      <h3>Lese-Rechte Sujets</h3>
      <p>Der Kunde {{selectedCustomer.name.full}} hat Lese-Rechte (Name, Vorschau) auf alle Sujets der folgenden anderen Kunden.<p>
      <div v-if="selectedCustomerAccessRead" v-for="customer in calcSelectedCustomerAccessRead">
        <label>
          <input type="checkbox" @click="updatCustomerAccesRead" :checked="customer.checked" :name="`customer.readaccess.${customer.name.short}`" :value="customer.id">
          {{`${customer.type} ${customer.name.full}`}}
        </label>
      </div>
      <h3>Kunde löschen</h3>
      <ConfirmButton class="button" abortClass="alertButton" v-on:confirm="deleteCustomer" :message="$t('delete')" :confirmMessage="$t('confirm')"/>
    </section>

  </div>
</template>

<script>
import ConfirmButton from '@/components/ConfirmButton';
import EditableText from '@/components/EditableText';
import EditableSelect from '@/components/EditableSelect';

function initNewCustomer() {
  return {
    name: {
      full: '',
      short: ''
    },
    type: ''
  };
}

export default {
  name: 'customers',
  props: [
    'customers',
    'selectedCustomer',
    'companies',
    'selectedCustomerAccessRead',
    'selectCustomerCompanySegments',
    'selectCustomerReadCompanies'
  ],
  data() {
    return {
      selectedCustomerId: '',
      newcustomer: initNewCustomer()
    };
  },
  methods: {
    selectCustomer(event) {
      this.$emit('selectCustomer', event.target.value)
    },
    updatCustomerAccesRead(event) {
      this.$store.dispatch('customerReadAccess/edit', {
        customerId: this.selectedCustomer.id,
        customerReadAccessId: event.target.value,
        add: event.target.checked
      });
    },
    updatCustomerCompanySegment(event) {
      this.$store.dispatch('customerCompanySegment/edit', {
        customerId: this.selectedCustomer.id,
        companyId: event.target.value,
        add: event.target.checked
      });
    },
    updatCustomerReadCompany(event) {
      this.$store.dispatch('customerReadCompanies/edit', {
        customerId: this.selectedCustomer.id,
        companyId: event.target.value,
        add: event.target.checked
      });
    },
    save(event) {
      this.$store.dispatch('customers/update', {
        id: this.selectedCustomer.id,
        path: event.path,
        value: event.value
      });
    },
    createCustomer(event) {
      this.$store.dispatch('customers/create', this.newcustomer)
        .then((newcustomer) => {
          this.selectedCustomerId = newcustomer.id;
          event.target.reset();
        });
    },
    deleteCustomer() {
      this.$store.dispatch('customers/delete', {
        id: this.selectedCustomer.id,
        body: {
          version: this.selectedCustomer.version
        }
      });
    }
  },
  computed: {
    selectCustomerType() {
      return ['cinema', 'advertiser', 'thirdparty'].map((type) => {
        return {
          value: type,
          text: type,
          selected: this.selectedCustomer.type === type
        }
      });
    },
    calcSelectedCustomerAccessRead() {
      return this.customers.map((customer) => {
        if (this.selectedCustomerAccessRead) {
          customer.checked = this.selectedCustomerAccessRead[customer.id];
        }
        return customer;
      })
    },
    calcSelectedCustomerCompanySegment() {
      return this.companies.map((company) => {
        if (this.selectCustomerCompanySegments) {
          company.checked = this.selectCustomerCompanySegments[company.id];
        }
        return company;
      })
    },
    calcSelectedCustomerReadCompanies() {
      return this.companies.map((company) => {
        if (this.selectCustomerReadCompanies) {
          company.checked = this.selectCustomerReadCompanies[company.id];
        }
        return company;
      })
    }
  },
  components: {
    ConfirmButton,
    EditableText,
    EditableSelect
  }
};
</script>

<style>
  @import '../assets/css/main.css';
</style>