<template>
  <td
    :class="['dateslotCell', dynamicStyles]"
    @mouseover.prevent="dateslotOver"
    @mousedown.prevent="dateslotDown"
  >
    <span class="remaining" v-if="slotIsBookable && remainingBookingTimeThreshold">{{remainingBookingTimeFromNow}}</span>
  </td>
</template>

<script>
import moment from 'moment';

export default {
  name: 'cell',
  i18nOptions: {
    namespaces: 'schedule'
  },
  props: [
    'schedule',
    'scheduleUi',
    'dateslots',
    'currentDateIndex',
    'stage',
    'enabled',
    'notGuaranteed',
    'selectedDateslots',
    'selectedStages'
  ],
  methods: {
    dateslotOver() {
      this.$emit('dateslotover', {
        dateId: this.slotDate.id,
        stageId: this.stage.id,
        bookable: this.slotIsBookable,
        pending: this.slotIsPending
      })
    },
    dateslotDown() {
      this.$emit('dateslotdown', {
        dateId: this.slotDate.id,
        stageId: this.stage.id,
        bookable: this.slotIsBookable,
        pending: this.slotIsPending
      })
    }
  },
  computed: {
    slotDate() {
      return this.dateslots[this.currentDateIndex];
    },
    slotIsBookable() {
      return moment()
        .isSameOrBefore(
          moment(this.slotDate.startdate)
            .subtract(this.stage.lockoffset, 'hours')
        );
    },
    lockDate() {
      return moment(this.slotDate.startdate)
        .subtract(this.stage.lockoffset, 'hours');
    },
    remainingBookingTimeFromNow() {
      return this.lockDate.fromNow(true);
    },
    remainingBookingTimeThreshold() {
      return this.lockDate.diff(moment(), 'days') < 2;
    },
    slotIsPending() {
      let scheduleUi = this.scheduleUi,
        stage = this.stage;

      return scheduleUi[stage.id] &&
        scheduleUi[stage.id][this.slotDate.id] &&
        scheduleUi[stage.id][this.slotDate.id].pending === true;
    },
    statusText() {
      return this.isBooked ? 'booked' : 'available';
    },
    isBooked() {
      let schedule = this.schedule,
        stage = this.stage;

      return schedule[stage.id] &&
        schedule[stage.id].slots[this.slotDate.id] &&
        schedule[stage.id].slots[this.slotDate.id].booked === true;
    },
    isFirst() {
      let schedule = this.schedule,
        currentDateIndex = this.currentDateIndex,
        stage = this.stage,
        dateslots = this.dateslots,
        previousDate = dateslots[currentDateIndex - 1];

      return previousDate && !schedule[stage.id].slots[previousDate.id];
    },
    isLast() {
      let schedule = this.schedule,
        currentDateIndex = this.currentDateIndex,
        stage = this.stage,
        dateslots = this.dateslots,
        nextDate = dateslots[currentDateIndex + 1];

      return nextDate && !schedule[stage.id].slots[nextDate.id];
    },
    isSelected() {
      let selected = false;
      this.selectedStages.forEach((stageId) => {
        if ((this.selectedDateslots[this.stage.id] && this.selectedDateslots[this.stage.id].indexOf(this.slotDate.id) !== -1) && stageId === this.stage.id) {
          selected = true;
        }
      });

      return selected;
    },
    dynamicStyles() {
      return {
        hoverBookableEnabledDate: this.slotIsBookable && this.enabled,
        bookableDate: this.slotIsBookable,
        notBookableDate: !this.slotIsBookable,
        booked: this.isBooked,
        guaranteedBooking: this.isBooked && !this.notGuaranteed,
        notGuaranteedBooking: this.isBooked && this.notGuaranteed,
        pending: this.slotIsPending,
        locked: !this.enabled,
        first: this.isBooked && this.isFirst,
        last: this.isBooked && this.isLast,
        selected: this.isSelected
      };
    }
  }
};
</script>

<style>
  @import '../assets/css/main.css';

  .dateslotCell {
    overflow: hidden;
    border-left: solid 1px var(--textDark);
    border-right: solid 1px var(--textDark);
  }
  .cellText {
    color: transparent;
  }

  .bookableDate {
    cursor: crosshair;
    background-color: var(--bookable);
  }
  .notBookableDate {
    cursor: not-allowed;
    background-color: var(--notBookable);
  }
  .hoverBookableEnabledDate:hover {
    border-top: 2px dotted var(--textDark);
    border-bottom: 2px dotted var(--textDark);
    border-left: 4px dotted var(--textDark);
    border-right: 4px dotted var(--textDark);
  }
  .locked {
    cursor: not-allowed;
  }
  .booked {
    border-top: solid 3px var(--textDark);
    border-bottom: solid 3px var(--textDark);
  }

  .guaranteedBooking {
    background-color: var(--cinediaYellow);
  }

  .notGuaranteedBooking {
    background-color: var(--cinediaYellow);
    background: repeating-linear-gradient(
      -45deg,
      color(var(--cinediaYellow) lightness(-5%)),
      color(var(--cinediaYellow) lightness(-5%)) 5px,
      color(var(--cinediaYellow) lightness(+5%)) 5px,
      color(var(--cinediaYellow) lightness(+5%)) 10px
    );
  }

  .selected {
    background-color: var(--mediumGreyMain);
    background: repeating-linear-gradient(
      -45deg,
      color(var(--mediumGreyMain) lightness(-8%)),
      color(var(--mediumGreyMain) lightness(-8%)) 5px,
      color(var(--mediumGreyMain) lightness(+8%)) 5px,
      color(var(--mediumGreyMain) lightness(+8%)) 10px
    );
  }
  .booked .selected {
    border-top: solid 3px var(--textDark);
    border-bottom: solid 3px var(--textDark);
  }
  .pending {
    background-color: color(var(--cinediaYellow) lightness(-20%));
    background: repeating-linear-gradient(
      -45deg,
      color(var(--cinediaYellow) lightness(-5%)),
      color(var(--cinediaYellow) lightness(-5%)) 5px,
      color(var(--cinediaYellow) lightness(-12%)) 5px,
      color(var(--cinediaYellow) lightness(-12%)) 10px
    );
  }
  .remaining {
    color: color(var(--textDark) alpha(-40%));
    display: block;
    width: 100%;
    text-align: center;
    vertical-align: center;
    font-size: 0.8em;
  }

  .first {
    border-left: solid 3px var(--textDark);
  }
  .last {
    border-right: solid 3px var(--textDark);
  }
</style>
