<template>
  <table class="table subHeaderSpace">
    <thead>
      <tr>
        <th class="kwHeader" colspan="7">{{ $t('schedule:kw') }} {{returnKW}}</th>
      </tr>
      <tr>
        <th>Firma</th>
        <th>Saal</th>
        <th>Version</th>
        <th>dcp ready</th>
        <th>action</th>
        <th>pending render</th>
        <th>error render</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(block, index) in dcps">

        <td v-if="isFirst('company', dcps, index)" :rowspan="calcRowspan('company', dcps, index)">
          <h3>{{block.company.name}}</h3>
          <p>locked: {{block.locked}}</p>
          <p>{{ $t('lockdate', {date: block.lockDate}) }}</p>
        </td>

        <td>
          {{block.stage.name}}
        </td>

        <td>
          {{block.dcp.version}}
        </td>

        <td :class="readyStates(block.dcp.ready)">
          {{block.dcp.ready ? 'yes' : 'no'}}
        </td>

        <td>
          <ConfirmButton class="button" :data-blockid="block.id" abortClass="alertButton" :disabled="block.dcp.pending" @confirm="renderDcp" message="render" confirmMessage="confirm"/>
        </td>

        <td :class="readyStates(!block.dcp.pending)">
          {{block.dcp.pending ? 'yes' : 'no'}}
        </td>

        <td :class="readyStates(!block.dcp.error)">
          {{block.dcp.error ? 'yes' : 'no'}}
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import ConfirmButton from '@/components/ConfirmButton';

export default {
  name: 'blocktable',
  props: ['dcps'],
  components: {
    ConfirmButton
  },
  i18nOptions: {
    namespaces: ['dcps']
  },
  methods: {
    renderDcp (event) {
      var el = event.target,
        blockid = el.getAttribute('data-blockid');

      this.$store.dispatch('renderBlockDcp', blockid);
    }
  },
  computed: {
    readyStates: () => (state) => {
      return {
        yes: state,
        no: !state
      };
    },
    isFirst: () => (keyname, dcps, i) => {
      if (!dcps[i-1] || dcps[i-1] && dcps[i-1][keyname].id !== dcps[i][keyname].id) {
        return true;
      } else {
        return false;
      }
    },
    calcRowspan: () => (keyname, dcps, i) => {
      let rowspan = 1;

      while(dcps[i + 1] && dcps[i + 1][keyname].id === dcps[i ][keyname].id) {
        rowspan++;
        i++;
      }
      return rowspan;
    },
    returnKW() {
      if (this.dcps.length > 0){
        return this.dcps[0].dateslot.kw;
      } else {
        return '';
      }
    }
  }
};
</script>

<style>
  @import '../assets/css/main.css';

  .table {
      box-sizing: border-box;
      border-collapse: collapse;
      table-layout: fixed;
      width: 100%;
      white-space: nowrap;
  }

  .table th {
      border: solid 1px black;
      height: 2em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: right;
      padding: 0 0.6em;
      vertical-align: central;
  }

  .table td {
      border: solid 1px black;
      padding: 0.5em 0.5em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: right;
      vertical-align: top;
  }
  .yes {
    background-color: var(--readyGreen);
  }
  .no {
    background-color: var(--alertRed);
  }
  .pending {
    background-color: var(--infoOrange)
  }

  .table .kwHeader {
    text-align: center;
    font-size: 2em;
  }
</style>
