<template>
  <input type="number" :value="number" :name="name" @change="save">
</template>

<script>
import jsonpointer from 'jsonpointer';

export default {
  name: 'editablecheckbox',
  props: {
    path: {
      type: String,
      required: true
    },
    name: {
      required: true
    },
    item: {
      required: true
    }
  },
  computed: {
    number() {
      return jsonpointer.get(this.item, this.path);
    },
  },
  methods: {
    save(event) {
      this.$emit('save', {
        path: this.path,
        value: event.target.value
      });
    }
  }
};
</script>

<style>
  @import '../assets/css/main.css';
</style>