<template>
  <select @input="save">
    <option v-for="item in collection" :value="item.value" :selected="item.selected">
      {{item.text}}
    </option>
  </select>
</template>

<script>
export default {
  name: 'editableselect',
  props: {
    path: {
      type: String,
      required: true
    },
    collection: {
      required: true
    }
  },
  computed: {
  },
  methods: {
    save(event) {
      this.$emit('save', {
        path: this.path,
        value: event.target.value
      });
    }
  }
};
</script>

<style>
  @import '../assets/css/main.css';
</style>