<template>
  <div>
    <template v-if="!editing">
      <slot/>
      <button v-if="!editing" @click="edit" :disabled="disabled">{{editName}}</button>
    </template>

    <template v-else>
      <input type="text" :name="name" v-model="editedValue" ref="input" @keydown.esc="cancel" @keydown.enter="save">
      <button @click="save">{{saveName}}</button>
      <button @click="cancel">{{cancelName}}</button>
    </template>
  </div>
</template>

<script>
import jsonpointer from 'jsonpointer';

export default {
  name: 'editableTextField',
  props: {
    elementType: {
      type: String,
      default: 'span'
    },
    path: {
      type: String
    },
    text: {
      type: String
    },
    name: {
      type: String,
      required: true
    },
    item: {
      type: Object,
      required: true
    },
    disabled: {
      type: Boolean
    },
    editButtonName: {
      type: String
    },
    saveButtonName: {
      type: String
    },
    cancelButtonName: {
      type: String
    }
  },
  data() {
    return {
      editedValue: '',
      editing: false
    };
  },
  computed: {
    value() {
      if (this.text) {
        return this.text;
      }
      if (this.path) {
        return jsonpointer.get(this.item, this.path);
      }
      return '';
    },
    editName() {
      return this.editButtonName || 'edit';
    },
    saveName() {
      return this.saveButtonName || 'save';
    },
    cancelName() {
      return this.cancelButtonName || 'cancel';
    }
  },
  methods: {
    edit() {
      this.editing = true;
      this.editedValue = this.value;
      this.$nextTick(() => this.$refs.input.focus());
    },
    save() {
      if (this.value !== this.editedValue) {
        this.$emit('save', {
          path: this.path,
          value: this.editedValue
        });
      }
      this.editing = false;
      this.editedValue = '';
    },
    cancel() {
      this.editing = false;
    }
  }
};
</script>

<style>
</style>