<template>
  <section :class="['errorMessage', 'dropShadowDownBold', {position: top}]" v-if="error.show">
    <h2>{{error.title}}</h2>
    <p v-if="error.message">{{error.message}}</p>
    <button class="button" @click="hideError">{{$t('dismiss')}}</button>
  </section>
</template>

<script>
export default {
  name: 'navigation',
  props: ['top'],
  i18nOptions: {
    namespaces: 'error'
  },
  methods: {
    hideError() {
      this.$store.dispatch('hideError');
    }
  },
  computed: {
    error() {
      return this.$store.getters.error;
    }
  }
};
</script>

<style>
  @import '../assets/css/main.css';

  .errorMessage {
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    background-color: var(--alertRed);
    padding: 0.5em 1em;
  }

  .position {
    top: var(--headerHeigth);
  }
</style>