<template>
  <div id="dropzone"
    :class="styles"
    @dragover.stop.prevent="handleDragOver"
    @dragenter.stop.prevent="handleDragEnter"
    @dragleave.stop.prevent="handleDragLeave"
    @dragexit.stop.prevent="handleDragLeave"
    @drop.stop.prevent="handleDrop"
  >
    <div>
      <h4>{{$t('acceptedDataTypes')}}</h4>
      <p>{{$t('allowedImageTypes', {types: pictureFileList})}}</p>
      <p>{{$t('allowedVideoTypes', {types: videoFileList})}}</p>
    </div>
    <div>
      
    <input @change="handleSelect" type="file" name="upload" accept="image/*, video/mp4, video/x-m4v, video/*" multiple>
    <span>{{$t('dropFilesHere')}}</span>
    </div>
    <slot/>
  </div>
</template>

<script>
import mimeTypes from 'mime-types';

const acceptedPictures = ['image/jpeg', 'image/tiff', 'image/png'],
  acceptedVideos = ['video/quicktime', 'video/mpeg', 'video/mp4'];

function filterMime(type) {
  let isAcceptedPicture = (acceptedPictures.includes(type)),
    isAcceptedVideo = (acceptedVideos.includes(type));

  console.log('\n');
  console.log(`filetype is: ${type}`);
  console.log(`accepted picture types: ${acceptedPictures}`);
  console.log(`accepted video types: ${acceptedVideos}`);

  if (isAcceptedPicture) {
    console.log(`sujettype is 'dia'`);
    return 'dia';
  }
  else if (isAcceptedVideo) {
    console.log(`sujettype is 'spot'`)
    return 'spot';
  } else {
    console.log(`sujettype is not recognized!!!`)
    return false;
  }
}

const handleFiles = (files, that) => {
  for (let i = 0; i < files.length; i++) {
    let file = files.item(i),
      name = file.name.substr(0, file.name.lastIndexOf('.')),
      sujettype = filterMime(file.type);

    if (!name) {
      name = 'temp sujet name';
    }
    console.log(`filename: ${name}`);
    that.$emit('file', {
      name,
      type: file.type,
      sujettype,
      file: sujettype ? file : null
    });
  }
};

export default {
  name: 'file',
  i18nOptions: {
    namespaces: 'uploads'
  },
  data: function() {
    return {
      over: false
    };
  },
  created() {
    // if (window.File && window.FileReader && window.FileList && window.Blob)
  },
  components: {
  },
  computed: {
    styles() {
      return {
        dragOver: this.over
      };
    },
    pictureFileList() {
      return acceptedPictures.map((type) => {
        return mimeTypes.extension(type).toUpperCase();
      }).join(', ')
    },
    videoFileList() {
      return acceptedVideos.map((type) => {
        return mimeTypes.extension(type).toUpperCase();
      }).join(', ')
    }
  },
  methods: {
    handleSelect(event) {
      let files = event.target.files;

      handleFiles(files, this);
    },
    handleDrop(event) {
      let files = event.dataTransfer.files;

      this.over = false;
      handleFiles(files, this);      
    },
    handleDragOver(event) {
      event.dataTransfer.dropEffect = 'copy';
    },
    handleDragEnter() {
      this.over = true;
    },
    handleDragLeave() {
      this.over = false;
    }
  }
};
</script>

<style>
  @import '../assets/css/main.css';

  #dropzone {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    border: dashed var(--lightGreyMain) 3px;
    min-height: calc(100% - 2em);
    padding: 1em;
  }
  .dragOver {
    background-color: var(--cinediaYellow);
  }
</style>