<template>
  <nav class="mainNav dropShadowDownBold">
    <router-link class="mainNavItem" :to="{name: 'Home'}">Home</router-link>
    <router-link class="mainNavItem" v-if="userIsAdmin" :to="{name: 'Admin'}">Admin</router-link>
    <router-link class="mainNavItem" v-if="userCanCreateSujets && userIsAssignedToCustomer && userHasAssignedBookingStages" :to="{name: 'SujetUpload'}">Upload</router-link>
    <router-link class="mainNavItem" v-if="userCanReadSujets && userIsAssignedToCustomer && userHasAssignedBookingStages" :to="sujetsLink">Sujets</router-link>
    <router-link class="mainNavItem" v-if="userCanReadBlocks && userIsAssignedToCustomer" :to="blocksLink">Blocks</router-link>
  </nav>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'navigation',
  methods: {},
  computed: {
    sujetsLink() {
      return this.$store.getters.currentPageLink;
    },
    blocksLink() {
      return this.$store.getters.currentBlockPageLink;
    },
    userCanCreateSujets() {
      return this.$store.getters.userHasActivity('sujets.create');
    },
    userCanReadSujets() {
      return this.$store.getters.userHasActivity('sujets.read');
    },
    userCanReadBlocks() {
      return this.$store.getters.userHasActivity('blocks.read');
    },
    userIsAdmin() {
      return this.$store.getters.userIsAdmin;
    },
    ...mapGetters([
      'userIsAdmin',
      'userHasAssignedBookingStages',
      'userIsAssignedToCustomer'
    ])
  },
  components: {}
};
</script>

<style>
  @import '../assets/css/main.css';

  .mainNav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    position: fixed;
    z-index: 999;
    height: var(--headerHeigth);
    top: 0;
    left: 0;
    right: 0;
  }

  .mainNavItem {
    flex: 1 1 auto;
    text-align: center;
    font-size: 1.5em;
    padding: 0.2em 0;
  }

  .mainNavIcon {
    height: 2.1em;
    padding-right: 1em;
  }
</style>