<template>
  <li :class="['reelsujet', dynamicStyles]" :title="sujet.name">
    <router-link class="reelSujetLink" :to="{ name: 'SujetItem', params: { sujetid: sujet.id }, query: {stage: block.stage.id, dateslot: block.dateslot.id}}">
      <h3 class="reelSujetTitle">{{sujet.name}}</h3>
    </router-link>
    <img class="reelsujetImage" :src="sujet.previews.still.small.href" draggable="false">
    <div class="reelSujetInfo">
      <SujetType class="sujetType" :type="sujet.type"/>
      {{sujet.duration}}s
    </div>
  </li>
</template>

<script>
import SujetType from '@/components/SujetType';

export default {
  name: 'reelsujet',
  props: ['sujet', 'block', 'editable'],
  methods: {},
  computed: {
    dynamicStyles() {
      return {
        movable: !this.block.locked && this.editable,
        notGuaranteed: !this.sujet.bookingGuaranteed
      };
    }
  },
  components: {
    SujetType
  }
};
</script>

<style>
  @import '../assets/css/main.css';
  
  .reelsujet {
    flex-shrink: 0;
    display: grid;
    grid-template-areas:
     "image"
     "info"
     "title"
     ;
    user-select: none;
    cursor: not-allowed;
  }
  .reelSujetLink {
    grid-area: title;
    min-width: 0;
  }
  .reelSujetTitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0.3em 0.3em;
    color: var(--lightGreyMain);
    background-color: transparent;
    font-size: 1em;
  }
  .reelsujetImage {
    grid-area: image;
    width: 100%;
    padding-bottom: 0.5em;
  }

  .reelSujetInfo {
    grid-area: info;
    color: var(--lightGreyMain);
    background-color: transparent;
    padding: 0.3em 0.5em;
    font-size: 0.8em;
  }

  .sujetType svg{
    fill: var(--lightGreyMain);
  }

  .notGuaranteed {
    background: var(--alertRed);
  }
  .movable {
    cursor: move;
  }

  .still {
    cursor: none;
  }
</style>