<template>
  <li :class="['segment', dynamicSegmentStyles]">
    <h3 class="reelTitle">{{ `${$t(reel.audio ? 'sound' : 'mute')}, ${$t(reel.customer.type)}: ${reel.customer.name}, ${$t('duration', {seconds: reel.duration})}` }}</h3>
    <draggable :key="`reel.${reel.customer.id}`" v-model="reelSujetList" element="ol" :options="dragOptions">
      <ReelSujet
        v-for="sujet in reel.sujets"
        :key="sujet.id"
        :sujet="sujet"
        :block="block"
        :editable="editable"
      />
    </draggable>
  </li>
</template>

<script>
import draggable from 'vuedraggable';
import ReelSujet from '@/components/ReelSujet';

export default {
  name: 'reel',
  i18nOptions: {
    namespaces: 'reel'
  },
  props: ['reel', 'block', 'editable'],
  methods: {},
  computed: {
    dynamicSegmentStyles() {
      return {
        segmentLocked: this.block.locked
      };
    },
    dragOptions() {
      return {
        disabled: this.block.locked || !this.editable,
        scrollSensitivity: 250,
        scrollSpeed: 30,
        animation: 50
      };
    },
    reelSujetList: {
      get () {
        return this.reel.sujets;
      },
      set (list) {
        this.$store.dispatch('setNewOrder', {
          blockId: this.block.id,
          segmentId: this.reel.id,
          hash: this.block.hash,
          list
        }).catch(() => {
          this.$emit('error');
          this.$store.dispatch('showError', {
            title: 'error.segmentError.title',
            message: 'error.segmentError.message'
          });
        });
      }
    }
  },
  components: {
    ReelSujet,
    draggable
  }
};
</script>

<style>
  @import '../assets/css/main.css';

  .segment > ol {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
    grid-gap: 3.5em 1em;
    padding: 1.5em;
    border-radius: 7px;
    background-color: var(--darkGreyMain);
    margin-bottom: 2em;
    list-style: none;
    min-width: 0;
    min-height: 0;
  }

  .segmentLocked > ol {
    background: repeating-linear-gradient(
      -45deg,
      var(--darkGreyMain),
      var(--darkGreyMain) 5px,
      color(var(--darkGreyMain) lightness(-5%))5px,
      color(var(--darkGreyMain) lightness(-5%))10px
    );
  }

  .sortable-ghost {
    opacity: 0.4;
  }

  .sortable-chosen {
  }
</style>