<template>
  <table
    :class="['scheduleTable', tableStyle]" 
    @mouseup.prevent="mouseUp"
  >
    <thead>
      
      <tr>
        <th class="companyName companyNameHeader" rowspan="4">{{$t('company')}}</th>
        <th class="stageName" rowspan="4">
          {{$t('theater')}}
        </th>
        <th class="headerCell" v-for="(date, index) in dateslots" v-if="isFirstDate('year', dateslots, index)" :colspan="calcDateColspan('year', dateslots, index)">
          {{ $t('kwYear', {date: date.startdate}) }}
        </th>
      </tr>
      
      <tr>
        <th class="headerCell" v-for="(date, index) in dateslots" v-if="isFirstDate('month', dateslots, index)" :colspan="calcDateColspan('month', dateslots, index)">
          {{ $t('kwMonth', {date: date.startdate}) }}
        </th>
      </tr>
      
      <tr>
        <th class="headerCell" v-for="date in dateslots">
          <div class="kwDays">
            <span class="dayStart">{{ $t('kwStart', {date: date.startdate}) }}</span><span class="dayEnd">{{ $t('kwEnd', {date: date.enddate}) }}</span>
          </div>
        </th>
      </tr>
      
      <tr class="lastCompanyRow">
        <th :class="[markDateslotColumn(date), 'headerCell']" v-for="date in dateslots">
          KW {{date.kw}}
        </th>
      </tr>
    
    </thead>

    <tbody>
      
      <tr :class="{lastCompanyRow: lastRowOfCompany(stages, index)}" v-for="(stage, index) in stages">
        <td :title="stage.company.name" class="companyName name" v-if="isFirst('company', stages, index)" :rowspan="calcCompanyRowspan('company', stages, index)">
          {{stage.company.name}}
        </td>
        <td :class="[markStageRow(stage), 'name']">
          {{stage.name}}
        </td>
        <DateslotCell
          v-for="(date, index) in dateslots"
          :key="date.id + stage.id + index"
          :currentDateIndex="index"
          :schedule="schedule"
          :scheduleUi="scheduleUi"
          :dateslots="dateslots"
          :stage="stage"
          :enabled="enabled"
          :notGuaranteed="notGuaranteed"
          :selectedDateslots="selectedDateslots"
          :selectedStages="selectedStages"
          @dateslotdown="dateslotDown"
          @dateslotover="dateslotOver"
        />
      </tr>
    
    </tbody>
  </table>
</template>

<script>
import DateslotCell from './DateslotCell';
import moment from 'moment';

export default {
  name: 'schedule',
  i18nOptions: {
    namespaces: 'schedule'
  },
  props: [
    'sujetId',
    'schedule',
    'scheduleUi',
    'stages',
    'stageMarkId',
    'dateslotMarkId',
    'dateslots',
    'enabled',
    'notGuaranteed',
    'startdate',
    'enddate'
  ],
  data() {
    return {
      mouseIsDown: false,
      actionIsBooking: false,
      startStageId: '',
      endStageId: '',
      startDateslotId: '',
      endDateslotId: '',
      selectedStages: [],
      selectedDateslots: {}
    };
  },
  components: {
    DateslotCell
  },
  methods: {
    dateslotDown(event) {
      var stageId = event.stageId,
        dateslotId = event.dateId,
        bookable = event.bookable,
        pending = event.pending;

      if (pending || !this.enabled || !bookable || !dateslotId || !stageId) {
        return;
      }
      if (this.schedule[stageId] && this.schedule[stageId].slots[dateslotId]) {
        this.actionIsBooking = false;
      } else {
        this.actionIsBooking = true;
      }

      this.mouseIsDown = true;
      this.startStageId = stageId;
      this.endStageId = stageId;
      this.startDateslotId = dateslotId;
      this.endDateslotId = dateslotId;
      this.selectedStages = [stageId];
      this.$set(this.selectedDateslots, this.startStageId, [dateslotId]);
    },
    dateslotOver(event) {
      var stageId = event.stageId,
        dateslotId = event.dateId,
        bookable = event.bookable,
        pending = event.pending;

      if (pending || !this.enabled || !bookable || !dateslotId || !stageId) {
        return;
      }
      if (this.mouseIsDown) {
        let newSelectedDateslots = {};

        this.endDateslotId = dateslotId;
        this.endStageId = stageId;
        this.selectedStages = this.calcSelectedStageIds(this.startStageId, this.endStageId);

        this.selectedStages.forEach((currentStageId) => {
          newSelectedDateslots[currentStageId] = this.calcSelectedDateslotsPerStage(currentStageId, this.startDateslotId, this.endDateslotId);
        });

        this.selectedDateslots = newSelectedDateslots;
      }
    },
    mouseUp() {
      if (!this.mouseIsDown) {
        return;
      }
      this.$store.dispatch('hideError');
      this.$store.dispatch('toggleDateslotbooking', {
        sujetId: this.sujetId,
        stageIds: this.selectedStages,
        dateslotIds: this.selectedDateslots,
        query: {
          startdate: this.startdate.format('YYYYMMDD'),
          enddate: this.enddate.format('YYYYMMDD')
        },
        book: this.actionIsBooking
      }).then(() => {
        this.$emit('change');
      }).catch((error) => {
        if (error.status === 409) {
          this.$emit('conflict');
          this.$store.dispatch('showError', {
            statusCode: 409,
            title: this.$t('error.conflict.title'),
            message: this.$t('error.conflict.message')
          });
        } else {
          throw error;
        }
      }).catch(() => {
        this.$emit('error');
        this.$store.dispatch('showError', {
          title: 'schedule.book.error.title',
          message: 'schedule.book.error.message'
        });
      });
      this.mouseIsDown = false;
      this.startStageId = '';
      this.startDateslotId = '';
      this.endDateslotId = '';
      this.selectedStages = [];
      this.selectedDateslots = {};
    },
    calcSelectedDateslotsPerStage(stageId, selectedStartdate, selectedEnddate) {
      function fromElement(id) {
        return function(element) {
          return element.id === id;
        };
      }
      let startIndex = this.dateslots.findIndex(fromElement(selectedStartdate)),
        endIndex = this.dateslots.findIndex(fromElement(selectedEnddate)),
        leftIndex,
        rightIndex,
        slots = [];

      if (startIndex <= endIndex) {
        leftIndex = startIndex;
        rightIndex = endIndex;
      } else {
        leftIndex = endIndex;
        rightIndex = startIndex;
      }

      for (leftIndex; leftIndex <= rightIndex; leftIndex++) {
        let slotIsBooked = this.schedule[stageId] && (this.schedule[stageId].slots[this.dateslots[leftIndex].id] !== undefined);

        if (this.actionIsBooking && !slotIsBooked) {
          slots.push(this.dateslots[leftIndex].id);
        }
        if (!this.actionIsBooking && slotIsBooked) {
          slots.push(this.dateslots[leftIndex].id);
        }
      }
      return slots;
    },
    calcSelectedStageIds(startStageId, endStageId) {
      function fromElement(id) {
        return function(element) {
          return element.id === id;
        };
      }
      let startIndex = this.stages.findIndex(fromElement(startStageId)),
        endIndex = this.stages.findIndex(fromElement(endStageId)),
        leftIndex,
        rightIndex,
        selectedStageIds = [];

      if (startIndex <= endIndex) {
        leftIndex = startIndex;
        rightIndex = endIndex;
      } else {
        leftIndex = endIndex;
        rightIndex = startIndex;
      }

      for (leftIndex; leftIndex <= rightIndex; leftIndex++) {
        selectedStageIds.push(this.stages[leftIndex].id);
      }
      return selectedStageIds;
    }
  },
  computed: {
    tableStyle() {
      return {
        tableDisabled: !this.enabled
      };
    },
    markStageRow() {
      return function(stage) {
        return {
          stageMark: stage.id === this.stageMarkId
        };
      } ;
    },
    markDateslotColumn() {
      return function(dateslot) {
        return {
          dateslotMark: dateslot.id === this.dateslotMarkId
        };
      } ;
    },
    isFirst: () => (keyname, stages, i) => {
      if (!stages[i-1] || stages[i-1] && stages[i-1][keyname].id !== stages[i][keyname].id) {
        return true;
      } else {
        return false;
      }
    },
    isFirstDate: () => (granularity, dates, i) => {
      if (!dates[i-1] || !moment(dates[i - 1].startdate).isSame(moment(dates[i].startdate), granularity)) {
        return true;
      } else {
        return false;
      }
    },
    calcCompanyRowspan: () => (keyname, stages, i) => {
      let rowspan = 1;

      while(stages[i + 1] && stages[i + 1][keyname].id === stages[i][keyname].id) {
        rowspan++;
        i++;
      }
      return rowspan;
    },
    calcDateColspan: () => (granularity, dates, i) => {
      let rowspan = 1;

      while(dates[i + 1] && moment(dates[i + 1].startdate).isSame(moment(dates[i].startdate), granularity)) {
        rowspan++;
        i++;
      }
      return rowspan;
    },
    lastRowOfCompany: () => (stages, i) => {
      let currentStage = stages[i],
        nextStage = stages[i + 1];

      if ((!nextStage) || (nextStage && nextStage.company.id !== currentStage.company.id)) {
        return true;
      } else {
        return false;
      }
    }
  }
};
</script>

<style>
  @import '../assets/css/main.css';

  .scheduleTable {
    user-select: none;
    table-layout: auto;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    border-collapse: collapse;
  }

  .scheduleTable tbody {
    border: 1px solid var(--darkGreyMain);
  }

  .scheduleTable tbody tr:nth-child(2n+1) {
    background-color: var(--lightGreyMain);
  }

  .headerCell {
    border: 1px solid var(--darkGreyMain);
    overflow: hidden;
    text-overflow: hidden;
    padding: 0.1em 0.3em;
    font-weight: normal;
  }
  .lastCompanyRow {
    border-bottom: 2px solid var(--darkGreyMain);
  }

  .tableDisabled {
    color: #C5C5C1;
  }
  .tableDisabled tbody tr:nth-child(2n+1) {
    background-color: #DDE0E0;
  }
  .stageMark, .dateslotMark {
    background-color: var(--readyGreen);
  }
  .kwDays {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .startdate {
    font-weight: normal;
    left: -0.8em;
    margin: 0.2em 0;
    padding: 0;
    text-align: start;
  }
  .enddate {
    font-weight: normal;
    right: -0.8em;
    margin: 0.2em 0;
    padding: 0;
    text-align: end;
    color: var(--mediumGreyMain)
  }
  .name {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    vertical-align: middle;
    height: 1.6em;
    padding-right: 0.5em;
  }
  .companyNameHeader {
    width: 10em;
    vertical-align: bottom;
  }

  .stageName {
    width: 6em;
    vertical-align: bottom;
  }
  @media only screen and (max-width: 500px) {
    .companyName {
      display: none;
    }
    .stageName {
      width: 5em;
    }
  }
</style>
