<template>
  <div class="sujetPreviewSequence" @mousemove="calcPosition">
    <img :style="imgSeqStyle" :src="sujet.previews.sequence.href" :key="`${sujet.id}.${sujet.intermediate.ready}`" :alt="`sequence preview of sujet ${sujet.name}`">
  </div>
</template>

<script>
import throttle from 'lodash.throttle';

export default {
  name: 'Sequence',
  props: ['width', 'sujet'],
  data() {
    return {
      position: 0
    };
  },
  methods: {
    calcPosition: throttle(function(event) {
      if (event.currentTarget) {
        let rect = event.currentTarget.getBoundingClientRect(),
          x = event.clientX - rect.left,
          frame = (x / (this.width / 9)).toFixed();

        this.position = frame * this.width;
      }
    }, 16, {
      leading: true,
      trailing: true
    }),
  },
  computed: {
    imgSeqStyle() {
      return {
        left: `-${this.position}px`
      };
    }
  }
};
</script>

<style>
  @import '../assets/css/main.css';

  .sujetPreviewSequence {
    height: 100%;
    position: relative;
  }

  .sujetPreviewSequence img {
    height: 100%;
    position: absolute;
    top: 0;
  }
</style>