<template>
  <div>
    <h1>companies</h1>
    <form @submit.prevent="createCompany">
      <fieldset>
        <legend>create company</legend>
        <input v-model="newCompany.name.full" required type="text" name="company fullname" placeholder="full name">
        <input v-model="newCompany.name.short" required type="text" name="company shortname" placeholder="short name">
        <input v-model="newCompany.lockoffset.hours" min="0" type="number" name="company lockoffset">
        <select v-model="newCompany.fps" required>
          <option disabled selected value="">select fps</option>
          <option value="24">24 fps</option>
          <option value="25">25 fps</option>
        </select>
        <input type="submit" value="create">
      </fieldset>
    </form>
    <fieldset>
      <legend>view/edit companies</legend>
      <h3>      
        <select @change="selectCompany">
          <option disabled selected value="">select company</option>
          <option v-for="company in companies" :key="company.id" :value="company.id">
            {{`${company.name.full}`}}
          </option>
        </select>
      </h3>
      <p/>
      <section v-if="selectedCompany">
        <EditableText @save="saveCompany" path="/name/full" :item="selectedCompany" name="company fullname">
          {{selectedCompany.name.full}}
        </EditableText>
        <EditableText @save="saveCompany" path="/name/short" :item="selectedCompany" name="company shortname">
          {{selectedCompany.name.short}}
        </EditableText>
        <div>
          lock offset hours<EditableNumber @save="saveCompany" path="/lockoffset/hours" :item="selectedCompany" name="company lockoffset/hours"/>
        </div>
        <div>
          framerate:<EditableSelect @save="saveCompany" path="/fps" :collection="selectFps"/>
        </div>

        <h4>segment mute</h4>
        <draggable v-model="currentCompanyMuteSegmentOrder" element="ol">
          <li class="dragCustomer" v-for="item in selectedCompanyMuteSegmentOrder" :key="'mute.'+item.customer.id">
            {{`${item.customer.type}: ${item.customer.name.full}`}}
          </li>
        </draggable>

        <h4>segment audio</h4>
        <draggable v-model="currentCompanyAudioSegmentOrder" element="ol">
          <li class="dragCustomer" v-for="item in selectedCompanyAudioSegmentOrder" :key="'audio.'+item.customer.id">
            {{`${item.customer.type}: ${item.customer.name.full}`}}
          </li>
        </draggable>
        <p/>
        <ConfirmButton class="button" abortClass="alertButton" v-on:confirm="deleteCompany" :message="$t('delete')" :confirmMessage="$t('confirm')"/>
      </section>
    </fieldset>


    <h1>locations</h1>
    <form @submit.prevent="createLocation">
      <fieldset>
        <legend>create location</legend>
        <input v-model="newLocation.name.full" type="text" required name="location fullname" placeholder="full name">
        <select v-model="newLocation.company.id" required>
          <option disabled selected value="">select company</option>
          <option v-for="company in companies" :key="company.id" :value="company.id">
            {{`${company.name.full}`}}
          </option>
        </select>
        <input type="submit" value="create">
      </fieldset>
    </form>
    <fieldset>
      <legend>view/edit locations</legend>
      <h3>
        <select v-model="selectedLocationId">
          <option disabled selected value="">select location</option>
          <option v-for="locations in locations" :key="locations.id" :value="locations.id">
            {{`${locations.name.full}`}}
          </option>
        </select>
      </h3>
      <p/>
      <section v-if="selectedLocation">
        <EditableText @save="saveLocation" path="/name/full" :item="selectedLocation" name="location fullname">
          {{selectedLocation.name.full}}
        </EditableText>
        <div>assigned company: {{getCompanyById(selectedLocation.company.id).name.full}}</div>
        <p/>
        <ConfirmButton class="button" abortClass="alertButton" v-on:confirm="deleteLocation" :message="$t('delete')" :confirmMessage="$t('confirm')"/>
      </section>
    </fieldset>


    <h1>stages</h1>
    <form @submit.prevent="createStage">
      <fieldset>
        <legend>create stage</legend>
        <input v-model="newStage.name.full" required type="text" name="stage fullname" placeholder="full name">
        <input v-model="newStage.name.short" required type="text" name="stage shortname" placeholder="short name">
        <select v-model="newStage.location.id" required>
          <option disabled selected value="">select location</option>
          <option v-for="location in locations" :key="location.id" :value="location.id">
            {{`${location.name.full}`}}
          </option>
        </select>
        <input type="submit" value="create">
      </fieldset>
    </form>
    <fieldset>
      <legend>view/edit stages</legend>
      <h3>
        <select v-model="selectedStageId">
          <option disabled selected value="">select stage</option>
          <option v-for="stage in stages" :key="stage.id" :value="stage.id">
            {{`${stage.name.full}`}}
          </option>
        </select>


      </h3>
      <p/>
      <section v-if="selectedStage">
        <EditableText @save="saveStage" path="/name/full" :item="selectedStage" name="stage fullname">
          {{selectedStage.name.full}}
        </EditableText>
        <EditableText @save="saveStage" path="/name/short" :item="selectedStage" name="stage shortname">
          {{selectedStage.name.short}}
        </EditableText>
        <div>assigned location: {{getLocationsById(selectedStage.location.id).name.full}}</div>
        <p/>
        <ConfirmButton class="button" abortClass="alertButton" v-on:confirm="deleteStage" :message="$t('delete')" :confirmMessage="$t('confirm')"/>
      </section>
    </fieldset>
  </div>
</template>

<script>
import draggable from 'vuedraggable';
import ConfirmButton from '@/components/ConfirmButton';
import EditableText from '@/components/EditableText';
import EditableSelect from '@/components/EditableSelect';
import EditableNumber from '@/components/EditableNumber';

function initNewStage() {
  return {
    name: {
      full: '',
      short: ''
    },
    location: {
      id: ''
    }
  };
}
function initNewLocation() {
  return {
    name: {
      full: ''
    },
    company: {
      id: ''
    }
  };
}
function initNewCompany() {
  return {
    name: {
      full: '',
      short: ''
    },
    fps: '',
    lockoffset: {
      hours: 0
    }
  };
}

export default {
  name: 'stages',
  props: [
    'companies',
    'customers',
    'selectedCompany',
    'selectedCompanyMuteSegmentOrder',
    'selectedCompanyAudioSegmentOrder',
    'locations',
    'stages'
  ],
  data() {
    return {
      selectedStageId: '',
      selectedLocationId: '',
      newStage: initNewStage(),
      newLocation: initNewLocation(),
      newCompany: initNewCompany()
    };
  },
  methods: {
    selectCompany(event) {
      this.$emit('selectCompany', event.target.value)
    },
    createStage(event) {
      this.$store.dispatch('stages/create', this.newStage)
        .then((newStage) => {
          this.selectedStageId = newStage.id;
          event.target.reset();
        });
    },
    createLocation(event) {
      this.$store.dispatch('locations/create', this.newLocation)
        .then((newLocation) => {
          this.selectedLocationId = newLocation.id;
          event.target.reset();
        });
    },
    createCompany(event) {
      this.$store.dispatch('companies/create', this.newCompany)
        .then((newCompany) => {
          this.$emit('selectCompany', newCompany.id)
          event.target.reset();
        });
    },
    deleteStage() {
      this.$store.dispatch('stages/delete', {
        id: this.selectedStage.id,
        body: {
          version: this.selectedStage.version
        }
      });
    },
    deleteLocation() {
      this.$store.dispatch('locations/delete', {
        id: this.selectedLocation.id,
        body: {
          version: this.selectedLocation.version
        }
      });
    },
    deleteCompany() {
      this.$store.dispatch('companies/delete', {
        id: this.selectedCompany.id,
        body: {
          version: this.selectedCompany.version
        }
      });
    },
    saveStage(event) {
      this.$store.dispatch('stages/update', {
        id: this.selectedStage.id,
        path: event.path,
        value: event.value
      });
    },
    saveLocation(event) {
      this.$store.dispatch('locations/update', {
        id: this.selectedLocation.id,
        path: event.path,
        value: event.value
      });
    },
    saveCompany(event) {
      this.$store.dispatch('companies/update', {
        id: this.selectedCompany.id,
        path: event.path,
        value: event.value
      });
    },
    getLocationsById(locationId) {
      return this.$store.getters['locations/getById'](locationId)
    },
    getCompanyById(companyId) {
      return this.$store.getters['companies/getById'](companyId)
    }
  },
  computed: {
    selectFps() {
      return [24, 25].map((fps) => {
        return {
          value: fps,
          text: `${fps} fps`,
          selected: this.selectedCompany.fps === fps
        };
      });
    },
    currentCompanyMuteSegmentOrder: {
      get() {
        return this.selectedCompanyMuteSegmentOrder;
      },
      set(order) {
        this.$store.dispatch('companySegmentOrder/set', {
          companyId: this.selectedCompany.id,
          hasAudio: false,
          order: order.map((item) => {return item.customer.id})
        });
      }
    },
    currentCompanyAudioSegmentOrder: {
      get() {
        return this.selectedCompanyAudioSegmentOrder;
      },
      set(order) {
        this.$store.dispatch('companySegmentOrder/set', {
          companyId: this.selectedCompany.id,
          hasAudio: true,
          order: order.map((item) => {return item.customer.id})
        });
      }
    },
    selectedStage() {
      return this.$store.getters['stages/getById'](this.selectedStageId);
    },
    selectedLocation() {
      return this.$store.getters['locations/getById'](this.selectedLocationId);
    }
  },
  components: {
    draggable,
    ConfirmButton,
    EditableText,
    EditableSelect,
    EditableNumber
  }
};
</script>

<style>
  @import '../assets/css/main.css';
  .dragCustomer {
    cursor: move;
  }
</style>