<template>
  <span class="sujettypeicon">
    <IconDia  class="icon" v-if="type === 'dia'"/>
    <IconSpot class="icon"  v-if="type === 'spot_mute' || type === 'spot_sound'"/>
    <IconSound class="icon"  v-if="type === 'spot_sound'"/>
    <IconMute class="icon"  v-if="type === 'spot_mute'"/>
  </span>
</template>

<script>
import IconDia from '@/components/icons/dia';
import IconSpot from '@/components/icons/spot';
import IconSound from '@/components/icons/sound';
import IconMute from '@/components/icons/mute';

export default {
  name: 'SujetType',
  props: ['type'],
  components: {
    IconDia,
    IconSpot,
    IconSound,
    IconMute
  }
};
</script>

<style>
  @import '../assets/css/main.css';

  .sujettypeicon svg {
    height: 1em;
    width: 1em;
    position: relative;
    top: 0.15em;
  }
</style>