<template>
  <ul class="sujetList">

    <router-link v-for="sujet in list" :key="sujet.id" :to="{ name: 'SujetItem', params: { sujetid: sujet.id }}">
      <li class="sujetItem" :title="sujet.name">
        <img v-if="sujet.intermediate.ready" class="thumbnail" :src="sujet.previews.thumbnail.href" :alt="`thumbnail of sujet ${sujet.name}`">
        <div v-if="!sujet.intermediate.ready" class="thumbnail"></div>
        <h3 class="sujetListSujetTitle">{{sujet.name}}</h3>
        <div class="sujetListInfo">
          <SujetType class="sujetListItemTypeIcon" :type="sujet.type"/>
          <span v-if="sujet.intermediate.ready">{{$t('durationShort', {duration: sujet.duration})}}</span>
          <span>{{$t('created', {date: sujet.created})}}</span>
          <span v-if="sujet.intermediate.error">error: {{sujet.intermediate.error}}</span>
        </div>
      </li>
    </router-link>

  </ul>
</template>

<script>
import SujetType from '@/components/SujetType';

export default {
  name: 'sujets',
  i18nOptions: {
    namespaces: 'sujets'
  },
  props: {
    list: {
      type: Array,
      default() {
        return [];
      }
    }
  },
  components: {
    SujetType
  }
};
</script>

<style>
  @import '../assets/css/main.css';

  .sujetList {
    display: grid;
    grid-gap: 1.7em 2em;
    grid-template-columns: repeat(auto-fill, minmax(22em, 1fr));
    list-style: none;
    padding: 0;
    min-width: 0;
    min-height: 0;
  }
  @media only screen and (max-width: 768px) {
    .sujetList {
      grid-gap: 0.6em 1em;
    }
  }
  .sujetList a {
    text-decoration: none;
    color: var(--textDark);
    overflow: hidden;

    background-color: var(--lightGreyMain);
    border: 1px solid var(--mediumGreyMain);
  }
  .sujetItem {
    display: grid;
    grid-template-columns: 7em 4fr;
    grid-template-rows: 4em 3em;
    grid-template-areas:
      "thumb title"
      "thumb detail";
    overflow: hidden;
    min-width: 0;
    min-height: 0;
  }
  .sujetListItemTypeIcon svg {
    height: 1.5em;
  }
  .sujetItem img {
    overflow: hidden;
  }
  .sujetList a:hover {
    box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.5);
  }
  .thumbnail {
    grid-area: thumb;
    background-color: var(--darkGreyMain);
  }
  @supports(display: grid) {
    .thumbnail {
      width: 100%
    }
  }
  .sujetListSujetTitle {
    grid-area: title;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--textDark);
    margin: 0;
    align-self: center;
    padding: 0 1em;
    min-width: 0;
    min-height: 0;
  }
  .sujetListInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    grid-area: detail;
    padding: 0 1em;
    color: var(--textLight);
    fill: var(--textLight);
    min-width: 0;
    min-height: 0;
  }
</style>
