<template>
  <div class="sujetItemContainer">
    
    <EditableText
      class="sujetItemTitleArea"
      @save="updateSujetname"
      :item="sujet"
      :text="sujet.name"
      name="sujetNames"
      :disabled="!(canRename && userCanRenameSujet)"
      :editButtonName="$t('sujetEditTitle')"
      :cancelButtonName="$t('sujetEditTitleCancel')"
      :saveButtonName="$t('sujetEditTitleSave')"
    >
      <h1 class="sujetItemTitle" >
        <SujetType :type="sujet.type"/>
        {{sujet.name}}
      </h1>
    </EditableText>  

    <a class="sujetImageContainer" target="_blank" :href="sujetPreviewLinkFull">
      <img v-if="sujet.type === 'dia'" :key="`${sujet.id}.${sujet.intermediate.ready}`" class="sujetImage" :src="sujet.previews.still.small.href" :alt="`preview of sujet ${sujet.name}`">
      <Sequence v-if="sujet.type !== 'dia'" :sujet="sujet" :width="222.222"/>
    </a>

    <div class="sujetItemInfo">
      <span>{{$t('duration', {duration: sujet.duration})}}</span>
      <span>{{$t('created', {date: sujet.created})}}</span>
    </div>

    <div class="controllArea">
      <ConfirmButton class="button" abortClass="alertButton" v-if="canDelete && userCanDeleteSujet" :disabled="pendingDelete" v-on:confirm="deleteSujet" :message="$t('delete')" :confirmMessage="$t('confirm')"/>
    </div>

    <div class="sujetMessageModal sujetValidationMessage" v-if="sujetIsValidating">
      <p>{{$t('sujetIsValidating')}}</p>
      <progress class="sujetProgress" v-if="sujet.sourcefile.validation.job.id" :value="sujet.sourcefile.validation.job.progress" max="100"/>
    </div>

    <div class="sujetMessageModal sujetRenderMessage" v-if="sujetIsRendering">
      <p>{{$t('sujetIsRendering')}}</p>
      <progress class="sujetProgress" v-if="sujet.intermediate.job.id" :value="sujet.intermediate.job.progress" max="100"/>
    </div>

    <div class="sujetMessageModal sujetErrorMessage" v-if="intermediateError">
      <p>{{$t('intermediateError')}}</p>
    </div>

    <div class="sujetMessageModal sujetErrorMessage" v-if="sourcefileValidationError">
      {{$t('error.' + sujet.sourcefile.validation.error)}}
      <button class="button" v-if="sourcefileValidationErrorPossible && userCanCreateSujet" :disabled="pendingErrorReport" @click="reportIntermediateError">{{$t('reportIntermediateError')}}</button>
    </div>

    <div class="sujetMessageModal errorReported" v-if="sourceFileValidationErrorReported">
      {{$t('sujetValidationErrorReported')}}
    </div>

    <div class="sujetItemAdminSection" v-if="userHasActivity('admin')">
      <h3>download sourcefile</h3>
      <a class="" :href="sujet.sourcefile.href">download sourcefile</a>
    </div>

    <div class="sujetItemAdminSection" v-if="userHasActivity('admin')">
      <h3>!!! Upload and replace sourcefile !!!</h3>
      <input type="file" name="sourcefile" @change="selectFile">
      <progress v-if="sujet.request" :value="sujet.request.progress" max="100"/>
      <button @click="uploadSourcefile" :disabled="!uploadFile">!!!upload!!!</button>
    </div>
  </div>
</template>

<script>
import SujetType from '@/components/SujetType';
import Sequence from '@/components/Sequence';
import ToggleButton from '@/components/ToggleButton';
import EditableText from '@/components/EditableText';
import ConfirmButton from '@/components/ConfirmButton';

function handleConflictError(error) {
  if (error.status === 409) {
    this.$emit('conflict');
    this.$store.dispatch('showError', {
      statusCode: 409,
      title: this.$t('error.conflict.title'),
      message: this.$t('error.conflict.message')
    });
  } else {
    throw error;
  }
}

export default {
  name: 'sujetitem',
  i18nOptions: {
    namespaces: 'sujets'
  },
  props: ['sujet', 'schedule'],
  data() {
    return {
      pendingDelete: false,
      pendingArchive: false,
      pendingNameUpdate: false,
      pendingErrorReport: false,
      sse: null,
      jobProgress: 0,
      uploadFile: null
    };
  },
  components: {
    ToggleButton,
    EditableText,
    ConfirmButton,
    SujetType,
    Sequence
  },
  methods: {
    selectFile(event) {
      let files = event.target.files;

      this.uploadFile = files[0];
    },
    uploadSourcefile() {
      this.$store.dispatch('uploadSourcefile', {
        sujetId: this.sujet.id,
        file: this.uploadFile
      });
    },
    reportIntermediateError() {
      this.pendingErrorReport = true;
      this.$store.dispatch('reportSujetValidationError', this.sujet.id)
        .then(() => this.pendingErrorReport = false);
    },
    updateSujetname(event) {
      this.pendingNameUpdate = true;
      this.$store.dispatch('updateSujetName', {
        sujetId: this.sujet.id,
        name: event.value,
        version: this.sujet.version
      }).then(() => {
        this.pendingNameUpdate = false;
      }).catch(handleConflictError.bind(this))
        .then(() => this.pendingNameUpdate = false)
        .catch(() => {
          this.pendingNameUpdate = false;
          this.$store.dispatch('showError', {
            title: 'nameUpdateError.title',
            message: 'nameUpdateError.message'
          });
        });
    },
    deleteSujet() {
      this.pendingDelete = true;
      this.$store.dispatch('deleteSujetItem', {
        sujetId: this.sujet.id,
        version: this.sujet.version
      }).then(() => {
        this.pendingDelete = false;
        this.$router.push(this.$store.getters.currentPageLink);
      }).catch(handleConflictError.bind(this))
        .then(() => this.pendingDelete = false)
        .catch(() => {
          this.pendingDelete = false;
          this.$store.dispatch('showError', {
            title: 'deleteError',
            message: 'deleteError message'
          });
        });
    },
    userHasActivity(activity) {
      return this.$store.getters.userHasActivity(activity);
    }
  },
  computed: {
    sourcefileValidationErrorPossible() {
      let sujet = this.sujet;
      return !sujet.intermediate.ready && sujet.sourcefile.validation.error && !sujet.sourcefile.validation.errorReported;
    },
    sourcefileValidationError() {
      let sujet = this.sujet;
      return sujet.sourcefile.validation.error;
    },
    sourceFileValidationErrorReported() {
      let sujet = this.sujet;
      return sujet.sourcefile.validation.errorReported;
    },
    intermediateError() {
      let sujet = this.sujet;
      return !sujet.intermediate.ready && sujet.intermediate.error;
    },
    sujetIsValidating() {
      let sujet = this.sujet;
      return sujet.sourcefile.validation.job.id &&
        !sujet.sourcefile.validation.isValidated &&
        !sujet.intermediate.ready;
    },
    sujetIsRendering() {
      let sujet = this.sujet;
      return !sujet.intermediate.ready &&
        !sujet.intermediate.error &&
        !sujet.sourcefile.validation.error &&
        sujet.intermediate.job.id;
    },
    canDelete() {
      let sujet = this.sujet;
      return !sujet.booked && sujet.customerId === this.user.customer.id;
    },
    canRename() {
      let sujet = this.sujet;
      return !(sujet.bookedPast || sujet.bookedCurrent) && sujet.customerId === this.user.customer.id;
    },
    isPending() {
      let sujet = this.sujet;
      return !sujet.intermediate.ready && !sujet.error;
    },
    user() {
      return this.$store.getters.getUser;
    },
    userCanCreateSujet() {
      return this.$store.getters.userHasActivity('sujets.create');
    },
    userCanRenameSujet() {
      return this.$store.getters.userHasActivity('sujets.name.update');
    },
    userCanDeleteSujet() {
      return this.$store.getters.userHasActivity('sujets.delete');
    },
    sujetPreviewLinkFull() {
      if (this.sujet.type === 'dia') {
        return this.sujet.previews.still.large.href;
      } else {
        return this.sujet.previews.video.large.href;
      }
    }
  }
};
</script>

<style>
  @import '../assets/css/main.css';

  .sujetItemContainer {
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-template-areas: 
      "image    title"
      "image    controlls"
      "image    details"
      "schedule schedule";
  }

  @media only screen and (max-width: 768px) {
    .sujetItemContainer {
      grid-template-columns: 1fr;
      grid-template-areas: 
        "title"
        "image"
        "details"
        "controlls"
        "schedule";
    }
  }

  .sujetImageContainer {
    grid-area: image;
    overflow: hidden;

    width: 222px;
    height: 120px;
    background-color: var(--darkGreyMain);
  }

  .sujetImage {
    height: 100%;
  }

  .sujetItemTitleArea {
    grid-area: title;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    min-height: 0;
  }

  .sujetItemTitle {
    /*display: inline;*/
    /*width: 100%;*/
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1.15;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--textDark);
  }
  
  .sujetItemTitleArea input[type=text] {
    width: 100%;
    color: var(--textDark);
  }

  .sujetItemInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    grid-area: details;
    color: var(--textLight);
    fill: var(--textLight);
    align-self: center;
  }

  .controllArea {
    grid-area: controlls;
    align-self: center;
    justify-self: end;
    margin-bottom: 1em;
  }
  .sujetMessageModal {
    padding: 1em 1.2em;
    grid-column: 1/-1;
    margin-bottom: 1em;
    border-radius: 2px;
  }
  .sujetProgress {
    margin: 0.5em 0;
  }
  .sujetProgress[value] {
    border: 1px solid var(--textDark);
    height: 1.5em;
  }
  .sujetProgress::-moz-progress-bar { 
    background: color(var(--darkGreyMain) alpha(-30%));  
  }
  .sujetProgress::-webkit-progress-value {
      background: color(var(--darkGreyMain) alpha(-30%));
  }
  .sujetValidationMessage {
    background-color: var(--infoYellow);
  }
  .sujetRenderMessage {
    background-color: var(--readyGreen);
  }
  .sujetErrorMessage {
    background-color: var(--alertRed);
  }
  .errorReported {
    background-color: var(--infoYellow);
  }
  .sujetItemAdminSection {
    border: 6px solid red;
    padding: 1em;
  }
</style>