<template>
  <button @click="action" :disabled="disabled">{{getMessage}}</button>
</template>

<script>
export default {
  name: 'toggleButton',
  props: ['state', 'onMessage', 'offMessage', 'disabled'],
  methods: {
    action () {
      this.state ? this.$emit('on') : this.$emit('off');
    }
  },
  computed: {
    getMessage () {
      return this.state ? this.onMessage : this.offMessage;
    }
  }
};
</script>

<style>
  @import '../assets/css/main.css';
</style>