<template>
  <li class="uploadItem">

    <img class="uploadImage" :src="dataUrl">

    <input class="input uploadText" v-if="!upload.sujet" type="text" name="sujetname" @input="setName" :value="upload.name" :disabled="!editable">

    <router-link class="uploadSujet" v-if="upload.sujet" :to="sujetViewLink">Sujet: {{upload.name}}</router-link>
    <div class="uploadError" v-if="upload.error">{{$t('error.upload')}}</div>
    <div class="fileTypeError" v-if="!upload.file">{{$t('error.unsupportedUploadFiletype', {type: getExtension})}}</div>
    
    <div v-if="upload.file" class="uploadType">{{$t(`type.${upload.type.split('/')[0]}`)}}</div>
    
    <div class="typeOptions" v-if="upload.file">
      <div v-show="!showSoundMute">
        <span>{{$t('duration')}}:</span>
        <input class="input durationInput" min="1" max="30" disabled="showDuration" type="number" name="duration" @input="setDuration" :value="upload.duration" placeholder="dia dauer" :disabled="!editable">
        <span>{{$t('seconds')}}</span>
      </div>
      <div  v-show="showSoundMute">
        <label>
          <input type="radio" :name="`audio.${upload.id}`" value="on" :checked="upload.sound" @change="setSound" :disabled="!editable"/>
          {{$t('sound.sound')}}
        </label>
        <label>
          <input type="radio" :name="`audio.${upload.id}`" value="off" :checked="!upload.sound" @change="setSound" :disabled="!editable"/>
          {{$t('sound.mute')}}
        </label>
      </div>
    </div>

    <div class="uploadControll">
      <button class="button" v-if="enqueable" @click="enqueue">{{$t('upload')}}</button>
      <button class="button" v-if="dequeable" @click="dequeue">{{$t('cancel')}}</button>
      <button class="button" v-if="abortable" @click="abort">{{$t('cancel')}}</button>
      <ConfirmButton class="button" abortClass="alertButton" v-if="fromListRemovable"  v-on:confirm="remove" :message="$t('remove')" :confirmMessage="$t('confirmRemove')"/>
    </div>
    <progress class="uploadProgress" v-show="upload.started && !upload.sujet" :value="upload.progress" max="100"/>
  </li>
</template>

<script>
import ConfirmButton from '@/components/ConfirmButton';
import mimeTypes from 'mime-types';

export default {
  name: 'upload',
  i18nOptions: {
    namespaces: 'uploads'
  },
  props: ['upload'],
  components: {
    ConfirmButton
  },
  data: function() {
    return {
      dataUrl: ''
    };
  },
  created() {
    if (this.upload.file) {
      let reader = new FileReader();

      reader.addEventListener('load', () => {
        this.dataUrl = reader.result;
      }, false);

      if (this.upload.file.size < 5 * 1024 * 1024) {
        reader.readAsDataURL(this.upload.file);
      }
    }
  },
  computed: {
    editable() {
      return this.$store.getters.editable(this.upload.id);
    },
    dequeable(){
      return this.$store.getters.dequeable(this.upload.id);
    },
    enqueable(){
      return this.$store.getters.enqueable(this.upload.id);
    },
    abortable(){
      return this.$store.getters.abortable(this.upload.id);
    },
    fromListRemovable(){
      return this.$store.getters.removable(this.upload.id);
    },
    showDuration() {
      return this.upload.sujettype === 'dia';
    },
    showSoundMute() {
      return this.upload.sujettype === 'spot';
    },
    sujetViewLink() {
      let link = {
        name: 'SujetItem',
        params: {
          sujetid: ''
        }
      };

      if (this.upload) {
        link.params.sujetid = this.upload.sujet.id;
      }
      return link;
    },
    getExtension() {
      return mimeTypes.extension(this.upload.type).toUpperCase();
    }
  },
  methods: {
    setDuration (event) {
      this.$store.dispatch('setDuration', {
        id: this.upload.id,
        duration: event.target.value
      });
    },
    setName (event) {
      this.$store.dispatch('setName', {
        id: this.upload.id,
        name: event.target.value
      });
    },
    setSound (event) {
      let bool = event.target.value === 'on';

      this.$store.dispatch('setSound', {
        id: this.upload.id,
        sound: bool
      });
    },
    enqueue () {        
      this.$emit('enqueue', this.upload.id);
    },
    dequeue() {        
      this.$emit('dequeue', this.upload.id);
    },
    abort() {
      this.$emit('abort', this.upload.id);
    },
    remove () {
      this.$emit('remove',  this.upload.id);
    }
  }
};
</script>

<style>
@import '../assets/css/main.css';

.uploadItem {
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  display: grid;
  grid-template-columns: 9em 7em 1fr 20em;
  grid-template-rows: 2.5em;
  grid-row-gap: 0.5em;
  align-items: start;
  background-color: var(--lightGreyMain)
}
.uploadImage {
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/3;
}

.uploadText {
  grid-column: 2/5;
  grid-row: 1/2;
  height: 100%;
}

.uploadError {
  grid-column: 2/5;
  grid-row: 1/2;
  background-color: var(--alertRed);
  height: 100%;
    display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1em;
}

.fileTypeError {
  grid-column: 2/4;
  grid-row: 2/3;
  background-color: var(--alertRed);
  height: 100%;
    display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1em;
}

.uploadSujet {
  grid-column: 2/5;
  grid-row: 1/2;
  background-color: var(--readyGreen);
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1em;
}

.uploadType {
  grid-column: 2/3;
  grid-row: 2/3;
  padding-left: 1em;
}
.typeOptions {
  grid-column: 3/4;
  grid-row: 2/3;
}
.durationInput {
  width: 4em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.checkboxSound {
  width: auto;
}
.uploadControll {
  grid-column: 4/5;
  grid-row: 2/3;
  justify-self: end;
  padding-right: 1em;
}
.uploadProgress {
  grid-column: 2/5;
  grid-row: 1/2;
}
</style>