<template>
  <div>
    <form @submit.prevent="createUser">
      <fieldset>
        <legend>create user</legend>
        <input v-model="newUser.name.first" required type="text" name="firstname" placeholder="firstname">
        <input v-model="newUser.name.last" required type="text" name="lastname" placeholder="lastname">
        <input v-model="newUser.email" required type="email" name="email" placeholder="email">
        <select v-model="newUser.customer.id" required>
          <option disabled selected value="">select customer</option>
          <option value="">[admin, no customer]</option>
          <option v-for="customer in customers" :key="customer.id" :value="customer.id">
            {{`${customer.name.full}`}}
          </option>
        </select>
        <label>
          notifications
          <input v-model="newUser.getNotifications" type="checkbox" name="notifications">
        </label>
        <input type="submit" value="create">
      </fieldset>
    </form>

    <p/>
    <fieldset>
      <legend>view/edit user</legend>
      <h3>
        <select @change="selectUser">
          <option disabled selected value="">select user</option>
          <option v-for="user in users" :key="user.id" :value="user.id">
            {{`${user.name.last} ${user.name.first} ${user.email}`}}
          </option>
        </select>
      </h3>
      <section v-if="selectedUser">
        <EditableText @save="save" path="/name/first" :item="selectedUser" name="firstname">
          {{selectedUser.name.first}}
        </EditableText>
        <EditableText @save="save" path="/name/last" :item="selectedUser" name="lastname">
          {{selectedUser.name.last}}
        </EditableText>
        <EditableText @save="save" path="/email" :item="selectedUser" name="email">
          {{selectedUser.email}}
        </EditableText>
        email notifications: <EditableCheckbox @save="save" path="/getNotifications" :item="selectedUser" name="notifications"/>
        <div>
          assigned to customer: <EditableSelect @save="save" path="/customer/id" :collection="selectCustomerCollection"/>
        </div>
        <p/>
        <ConfirmButton class="button" abortClass="alertButton" v-on:confirm="sendUserWelcomeMail" message="send Welcomemail" :confirmMessage="$t('confirm')"/>
        <h4>activities:</h4>
        <div v-if="selectedUserActivities" v-for="activity in calcSelectedUserActivities">
          <label>
            <input type="checkbox" @click="updatUserActivity" :checked="activity.checked" :name="`activity ${activity.name}`" :value="activity.id">
            {{activity.name}}
          </label>
        </div>
        <ConfirmButton class="button" abortClass="alertButton" v-on:confirm="deleteUser" :message="$t('delete')" :confirmMessage="$t('confirm')"/>
      </section>
    </fieldset>

  </div>
</template>

<script>
import ConfirmButton from '@/components/ConfirmButton';
import EditableText from '@/components/EditableText';
import EditableSelect from '@/components/EditableSelect';
import EditableCheckbox from '@/components/EditableCheckbox';

function initNewUser() {
  return {
    name: {
      first: '',
      last: ''
    },
    email: '',
    getNotifications: false,
    customer: {
      id: ''
    }
  };
}

export default {
  name: 'users',
  props: ['users', 'selectedUser', 'selectedUserActivities', 'customers', 'activities'],
  data() {
    return {
      newUser: initNewUser()
    };
  },
  methods: {
    selectUser(event) {
      this.$emit('selectUser', event.target.value)
    },
    sendUserWelcomeMail(event) {
      this.$store.dispatch('users/sendWelcomeMail', this.selectedUser.id); 
    },
    updatUserActivity(event) {
      this.$store.dispatch('userActivities/edit', {
        userId: this.selectedUser.id,
        activityId: event.target.value,
        add: event.target.checked
      });
    },
    save(event) {
      this.$store.dispatch('users/update', {
        id: this.selectedUser.id,
        path: event.path,
        value: event.value
      });
    },
    createUser(event) {
      this.$store.dispatch('users/create', this.newUser)
        .then((newUser) => {
          this.selectedUserId = newUser.id;
          event.target.reset();
        });
    },
    deleteUser() {
      this.$store.dispatch('users/delete', {
        id: this.selectedUser.id,
        body: {
          version: this.selectedUser.version
        }
      });
    }
  },
  computed: {
    selectCustomerCollection() {
      let list = this.customers.map((customer) => {
        return {
          value: customer.id,
          text: `${customer.name.full}`,
          selected: this.getUserCustomer && customer.id === this.getUserCustomer.id
        };
      });
      list.unshift({
        value: '',
        text: 'no customer'
      });
      return list;
    },
    calcSelectedUserActivities() {
      return this.activities.map((activity) => {
        if (this.selectedUserActivities) {
          activity.checked = this.selectedUserActivities[activity.id];
        }
        return activity;
      })
    },
    getUserCustomer() {
      return this.$store.getters['customers/getById'](this.selectedUser.customer.id);
    }
  },
  components: {
    ConfirmButton,
    EditableText,
    EditableSelect,
    EditableCheckbox
  }
};
</script>

<style>
  @import '../assets/css/main.css';
</style>