<template>
  <div>
    <input type="text" name="week" :value="moment(date).format('DD.MM.YYYY')">
    <table>
      <thead>
        <tr>
          <th><button @click="prevMonth">p</button></th>
          <th colspan="5">{{date.format('YYYY MMMM')}}</th>
          <th><button @click="nextMonth">n</button></th>
        </tr>
        <tr>
          <th v-for="day in calendarMonth.weekDayName.min">
            {{day}}
          </th>
        </tr>
      </thead>
      <tr v-for="week in calendarMonth.weeks">
        <td v-for="day in week.dates">{{day.moment.date()}}</td>
      </tr>
    </table>
  </div>
</template>

<script>
import { HeadlessDatepicker } from 'headless-datepicker';
import moment from 'moment';

const calendar = new HeadlessDatepicker.Calendar({
  locale: 'de',
  calendarMode: 'fixed',
  zeroBasedMonth: true,
});

export default {
  name: 'WeekPicker',
  props: {
    initialDate: {
      type: Date,
      default() {
        return new Date();
      }
    }
  },
  data() {
    return {
      moment: moment,
      date: moment(this.initialDate, 'YYYY-MM-DD')
    };
  },
  methods: {
    nextMonth() {
      this.date = moment(this.date.add(1, 'month'));
    },
    prevMonth() {
      this.date = moment(this.date.subtract(1, 'month'));
    }
  },
  computed: {
    calendarMonth() {
      return calendar.getMonth({
        year: this.date.year(),
        month: this.date.month()
      });
    } 
  },
  components: {
  }
};
</script>

<style>
  @import '../assets/css/main.css';
</style>
