<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
    <path d="M14.79324-.00007C6.598-.00007 0 6.59633 0 14.79158v170.41516c0 8.1953 6.598 14.7933 14.79324 14.7933h170.4135c8.19526 0 14.79326-6.598 14.79326-14.7933V14.79158c0-8.19524-6.598-14.79165-14.79326-14.79165H14.79324zm11.24286 52.3655h147.9294v95.26737H26.0361V52.36543z"/>
  </svg>
</template>

<script>
export default {
  name: 'IconDia'
};
</script>