<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
    <path d="M114.60685-.00003L45.43433 65.901H9.06336c-2.9899 0-5.397 2.4071-5.397 5.397v57.40393c0 2.9899 2.4071 5.397 5.397 5.397h36.37097l69.17252 65.9011V-.00002zm20.49883 66.83772a5.10255 5.10255 0 0 0-3.55448 8.76115l24.4021 24.40112-24.4021 24.3991a5.10255 5.10255 0 1 0 7.2146 7.2156l24.4031-24.39912 24.4021 24.40112a5.10255 5.10255 0 1 0 7.21562-7.2156l-24.40112-24.4011 24.4021-24.39813a5.10255 5.10255 0 0 0-3.70793-8.75916 5.10255 5.10255 0 0 0-3.50766 1.54258l-24.4031 24.4001-24.4021-24.4021a5.10255 5.10255 0 0 0-3.66112-1.54557z"/>
  </svg>
</template>

<script>
  export default {
    name: 'IconMute'
  }
</script>