<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
    <path d="M160.43255 21.08553a5.10255 5.10255 0 0 0-3.21967 9.08103c20.97727 17.34005 33.0656 42.89692 33.0656 69.8332 0 26.93626-12.08833 52.49318-33.0656 69.83318a5.10255 5.10255 0 1 0 6.50112 7.8653c23.2907-19.2523 36.76857-47.7071 36.76857-77.6985 0-29.99137-13.47788-58.44515-36.76857-77.6975a5.10255 5.10255 0 0 0-3.28145-1.2167zm-18.47398 22.2118a4.5923 4.5923 0 0 0-2.8978 8.17324c14.58386 12.0542 22.9821 29.81242 22.9821 48.52918 0 18.71676-8.39824 36.47498-22.9821 48.5292a4.5923 4.5923 0 1 0 5.8504 7.0791c16.666-13.7752 26.31537-34.14172 26.31537-55.6083 0-21.46657-9.64936-41.8321-26.31536-55.60725a4.5923 4.5923 0 0 0-2.9526-1.09515zm-18.11025 21.78632a4.08204 4.08204 0 0 0-2.57494 7.26543c8.31898 6.87407 13.10188 16.9893 13.10188 27.65067 0 10.66135-4.7829 20.7776-13.10188 27.65166a4.08204 4.08204 0 1 0 5.2007 6.29286c10.16987-8.4035 16.06445-20.8382 16.06445-33.9445 0-13.10634-5.89458-25.54004-16.06446-33.94353a4.08204 4.08204 0 0 0-2.62575-.97258zM110.45784-.00002l-69.17272 65.9008H4.91436c-2.9899 0-5.39693 2.40702-5.39693 5.3969v57.40364c0 2.98988 2.40704 5.39692 5.39693 5.39692h36.37076l69.17273 65.9018z" style="line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal" color="#000" font-family="sans-serif" white-space="normal" overflow="visible" solid-color="#000000"/>
  </svg>
</template>

<script>
  export default {
    name: 'IconSound'
  }
</script>