<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70.00205 70.00205" preserveAspectRatio="xMidYMid" >
    <circle cx="26.95904" cy="-41.51329" r="30" transform="rotate(102)" fill="none" stroke="#000" stroke-width="10" stroke-dasharray="141.37166941,49.1238898"/>  
  </svg>
</template>

<script>
export default {
  name: 'IconSpinner'
};
</script>