<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
    <path d="M0-.00003v200.00007h12.4857v-6.4243h18.99575v6.4243h9.6348v-44.4232H159.5987v44.4232h8.91985v-6.4243h18.99574v6.4243H200V-.00003h-12.4857v5.15385h-18.99575V-.00003h-8.91986v43.1528H41.11624V-.00003h-9.6348v5.15385H12.4857V-.00003H0zm12.4857 25.84895h18.99575v12.84995H12.4857V25.84892zm156.03285 0h18.99574v12.84995h-18.99575V25.84892zM41.11625 55.57677H159.5987v88.8479H41.11624v-88.8479zm-28.63055 3.8172h18.99575v12.84995H12.4857V59.39397zm156.03285 0h18.99574v12.84995h-18.99575V59.39397zM12.4857 92.94057h18.99575v12.84845H12.4857V92.94057zm156.03285 0h18.99574v12.84845h-18.99575V92.94057zM12.4857 126.48562h18.99575v12.84845H12.4857v-12.84845zm156.03285 0h18.99574v12.84845h-18.99575v-12.84845zM12.4857 160.03074h18.99575v12.8499H12.4857v-12.8499zm156.03285 0h18.99574v12.8499h-18.99575v-12.8499z"/>
  </svg>
</template>

<script>
  export default {
    name: 'IconSpot'
  }
</script>