<template>
  <router-view/>
</template>

<script>
export default {
  name: 'app',
  i18nOptions: {
    namespaces: '#'
  }
};
</script>

<style>
  @import './assets/css/main.css';

  body {
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: var(--background);
  }
  ::selection {
    background: var(--cinediaYellow)
  }
</style>
